[2019-06-05 19:52] andi34 opened #1 "Responsive Design"
E.g. fix mobile theme QR after taking picture.

![Screenshot_20190605-211818](https://user-images.githubusercontent.com/6080900/58985662-2e3fd180-87dc-11e9-8dd8-ccaad0830636.jpg)

[2019-06-05 19:54] andi34 commented on #1
QR from Gallery is fine after https://github.com/andi34/photobooth/commit/c239718b93a86bcbb9c20f295cc534a46dd48c1b

![Screenshot_20190605-211608](https://user-images.githubusercontent.com/6080900/58985781-6b0bc880-87dc-11e9-9f2b-6377dba078a2.jpg)

[2019-06-05 19:54] andi34 commented on #1
@F4bsi ne Idee?

[2019-06-06 08:28] F4bsi commented on #1
@andi34 Besteht das Problem noch?
Müsste mich auch erstmal wieder reinfuchsen. Denke am Wochenende hätte ich wieder ein bisschen Zeit.
Meistens ist aber in dem Fall das Problem, dass im CSS die Kombination aus `position: abolute;` und `left: 50%; margin-left: -XXXpx; ` genutzt wird. Durch den festen Wert passt es nur auf Desktops / größeren Devices. Umgehen kann man das meistens mit `transform: tr

[2019-06-06 09:02] andi34 commented on #1
Super, vielen Dank nochmal. Habe gestern stundenlang versucht es hinzubekommen, aber am Ende war es ein riesen weisse Fläche mit kleinem QR und dafür dann auch in der Galerie nicht mehr schön 🙈 raffe auch nicht warum der QR mit seiner Größe überhaupt sozusagen 2x definiert ist...

[2019-06-09 10:13] andi34 opened #2 "Add enable/disable Gallery and Countdown to admin panel"
Will look at it next week.

[2019-06-09 10:15] andi34 opened #3 "Use my.config.inc.php if exist"
Use a copy of config.inc.php (cp config.inc.php my.config.inc.php) if exist to prevent sharing email setup (password and username) by accident on github. Add the config copy to .gitignore)

[2019-06-09 10:18] andi34 commented on #3
Maybe @F4bsi can help on that? Or @andreknieriem ? Commits https://github.com/andi34/photobooth/commits/dev2

[2019-06-09 10:52] andi34 commented on #3
https://github.com/andi34/photobooth/commit/3fefacb05569f5170d04f4fa254e0f6cc44e42f4

Need to check if it works. But should work like this I guess.

[2019-06-10 08:49] andi34 commented on #3
Mh... https://github.com/andi34/photobooth/commit/80fdf8bcde74c40f475dc0f3d2c7117731dfaa10 does not work. Anyone an idea why?

[2019-06-10 09:09] andi34 commented on #2
https://github.com/andi34/photobooth/commit/fb579758bbfd05fd4314b705dc8271acfc75393b

https://github.com/andi34/photobooth/commit/d2e6be400cbe86388c1f375c080044e141dccbff

👍

[2019-06-10 09:32] andi34 commented on #3
ok, it does work. there seems to be only an issue if admin page was used to change config

[2019-06-10 09:34] andi34 commented on #2
Well... maybe the issue only exists because of the config.inc.php instead using the config.json ?

[2019-06-10 11:38] andi34 commented on #3
Admin Page does not work after that, works fine besides that

[2019-06-11 18:24] andi34 commented on #3
Admin Page works now. Was missing some ; 🙈

https://github.com/andi34/photobooth/commit/6eea8b2fa012727ae4c95355ced2d922556e2351

[2019-06-13 18:20] andi34 commented on #2
Fixed, works fine.

[2019-06-13 18:20] #2 closed, assigned to nobody

[2019-06-13 18:20] andi34 commented on #3
Works fine :) issues solved. Will be needed for Mail feature.

[2019-06-13 18:20] #3 closed, assigned to nobody

[2019-06-13 20:40] andi34 opened #4 "add Download button"
Not many people i know use QR, user can connect  to photobooth via webpage and take pictures - let them also download them.

[2019-06-16 09:19] andi34 commented on #4
Idea: if qr is disabled show generated download link which qr uses but don't show the QR picture?

[2019-06-17 13:39] thymon13 commented on #4
Many people use QR at every wedding.
They love this simplicity there.

But my comment has nothing to do here I guess :)

[2019-06-17 13:45] andi34 commented on #4
Don't worry, like said "not many I know" ;)

[2019-06-25 19:57] tobiashaas opened #5 "Photobooth Title konfigurierbar"
Hey @andi34 ,
Vielen Dank dass du in letzter Zeit soviel für die Photobooth Software gemacht hast!
Mich hat es sehr gefreut, da ich meine Box bald auf einer Hochzeit von meinem Kumpel einsetzen möchte ;-)

Meinst du es wäre möglich eine Art Titel einzubauen?
Also z.B

Hochzeit von Max & Moritz am 12.12.12 ?
Oder vielleicht sogar auch so etwas wie Filter wie man es von Instagram kennt, oder sogar e

[2019-06-25 20:24] andi34 commented on #5
Hey!
Klar ist ein Titel möglich "einzubauen". Privat gerade viel um die Ohren und wenig Zeit für PC Sachen... Wenns passt schaue ich aber gerne nach.
Nächste Woche kommt mein Raspberry 4 hoffentlich und da möchte ich natürlich auch als bald als möglich mit spielen.

Mit Collage: mit ImageMagick vllt umsetzbar.
https://imagemagick.org/script/montage.php

Beste Grüße

Andi

[2019-06-25 20:49] tobiashaas commented on #5
Hi Andi,
Super ich freue mich!

Mein Rpi4 sollte morgen eintreffen <3

Das mit der Collage schaue ich mir mal an, danke

Liebe Grüße und schönen Abend
Tobias

[2019-06-26 03:46] andi34 commented on #5
Im lang/de.js

[code]

Reicht dir das?

Edit:
Ich hasse mobile Seiten...

[2019-06-26 06:49] tobiashaas commented on #5
Schaue ich mir heute Abend mal an! Danke dir
Darf ich fragen warum du das überhaupt "mobil" anpasst?
Macht doch irgendwie keinen Sinn oder nicht? :-D

Man benötigt ja eig nur den QR Code um an das Foto zu kommen, der rest wird ja an der PHotobooth selbst erledigt oder verstehe ich da was falsch :P

[2019-06-26 08:33] andi34 commented on #5
Ging ums antworten hier von mobil. 😛

[2019-06-26 18:16] andi34 opened #6 "Make empty gallery message available on all supported languages"
ATM it's only german by default.

[2019-06-26 18:31] andi34 commented on #5
Aber grundsätzlich: die Photobooth lässt sich mit meinem OnePlus 6 ziemlich gut bedienen. QR Code sieht nur nicht gut aus....

Anstelle von QR fände ich die Möglichkeit per Download button besser. Der Pi als AP eingerichtet reicht aus, könnte jeder der verbunden ist sein Bild runterladen. Kenne kaum wen, der QR nutzt....

[2019-06-27 11:24] tobiashaas commented on #5
Ja QR ist so ne Sache.... Aber ich hab schon Kopfschmerzen wenn ich nur daran denke, dass sich die Leute erstmal mit der Box verbinden müssen :-D Das checken viele auch wieder nicht. Und dann denken die noch sie haben Internet.... Weil WLAN ja für die meisten Internet bedeutet xD xD
Bin mal gespannt wie das wird, bald wird sie getestet!

[2019-06-27 11:25] tobiashaas commented on #5
Ich hoffe ich komme heute dazu es zu testen! Cool wäre es wenn man das ganz Easy im Admin Panel ändern könnte :P ... Ich gebe dir Rückmeldung

[2019-06-27 14:16] andi34 commented on #5
Das sollte kein Problem sein das im Adminpanel konfigurierbar zu machen, am Ende halt nur im Zweifel schwierig, da es dann in allen Sprachen so ist wie eingestellt

[2019-06-27 17:52] andi34 commented on #6
https://github.com/andi34/photobooth/commit/4496a9ca6ce1b807a4b7cdabed55ed19f08d37f0

needs to be tested if it works

[2019-06-29 00:54] tobiashaas commented on #5
Hey Andi, jetzt habe ich das mal getestet und endlich gerafft wofür das genau ist :-D
Klar, das ist natürlich fürs erste vollkommen okay ;-)
Aber schön wäre ja wenn man das im Admin Menü ändern könnte - auch für alle Sprachen.

Damit kann ich aber erstmal arbeiten! Danke dir

[2019-06-29 01:00] tobiashaas opened #7 "HTTP ERROR 500 - Index.php"
Hi Andi,

Wenn ich deinen Fork nehme, habe ich mit der "index.php" und auch der "ressources/js/core.js" Probleme die Seite zu öffnen.

Hab es mit dem Master getestet. Sobald eine der Dateien hochgeladen wird funktioniert die Seite nicht mehr.

Grüße ;-)

[2019-06-29 07:33] andi34 commented on #7
Nimm Mal die private branch.

https://github.com/andi34/photobooth/commit/4496a9ca6ce1b807a4b7cdabed55ed19f08d37f0

Der ist neu und noch nicht getestet, wenns nicht geht einfach einmal reverten. Habe ich außer haus geschrieben und hatte bis jetzt keinen Pi zur hand.

Die dev2 branch geht definitiv.

Vorher nur die config.js im Admin Ordner löschen.

[2019-06-29 07:41] andi34 commented on #5
Kein Thema :)

[2019-06-29 07:42] andi34 commented on #7
Schaue mir das ganze nachher an. Mit Glück kommt mein Pi4 heute auch schon. 😍

[2019-06-29 08:04] andi34 commented on #7
Okay, habe die fehlerhaften 2 commits rausgehauen. Extra branch bis ich's gefixt habe.
Private branch geht somit wieder ;)

[2019-06-29 08:04] #7 closed, assigned to nobody

[2019-06-29 08:46] andi34 commented on #6
https://github.com/andi34/photobooth/commit/0de8cc3b9dc6805f5db2dade3ff1c41b4dfbd833

Doesn't pick the config....

[2019-06-29 09:35] andi34 commented on #6
Works now. Issue solved.
https://github.com/andi34/photobooth/commit/7a0f8a49c501c36d9bb7fa27ef264423733dec9a

[2019-06-29 12:57] andi34 commented on #7
@tobiashaas hab noch etwas am Code angepasst grundsätzlich. Für heute bin ich fertig. Meine "private" branch funktioniert wunderbar mit allen Neuerungen.

Rest die Tage wenn Zeit ist :)

[2019-06-29 20:03] tobiashaas commented on #7
Super ich danke dir vielmals! Finde ich super dass du das Projekt voran bringst!
Werde es morgen auf meinem neuen RPi4 testen <3

[2019-06-29 20:18] andi34 commented on #7
Kein Thema. Lass mich Mal wissen ob's läuft auf dem 4er mit Raspbian Buster. 😊

Mein 4er hängt leider übers Wochenende noch bei DHL ab...

[2019-06-29 21:11] andi34 commented on #5
https://github.com/andi34/photobooth/commit/c8d329c382058f26a54d79e64c159a553b5f71af

Muss nur die config noch nen passenden Namen im Adminpanel bekommen.

Vorschläge?

[2019-06-29 21:31] andi34 commented on #5
Erledigt :)

https://github.com/andi34/photobooth/commit/572b86eeb419ef016117cd7703b063f606f4a0e5

![Screenshot_20190629-233038](https://user-images.githubusercontent.com/6080900/60389657-0899a580-9ac6-11e9-9a49-376e95a128ea.jpg)

[2019-06-29 21:44] andi34 commented on #6
https://github.com/andi34/photobooth/commit/28b912324d038fcbc0f7f64744b3ad163595de19

See inline note

[2019-06-29 22:11] tobiashaas commented on #5
Gefällt mir sehr gut! Danke ;-)

[2019-06-29 22:15] tobiashaas commented on #7
Also soweit läuft alles, bis auf das Foto machen ...
Bekomme beim Foto schießen eine Fehlermeldung... evtl. stimmt was mit den Rechten nicht.

Für die Installation ist eine kleine Änderung notwendig - oder auch nicht - da das Paket schon integriert ist.
NEU`sudo apt-get install git apache2 php php-gd ffmpeg`
ALT`sudo apt-get install git apache2 php php-gd libav-tools`

[2019-06-30 09:34] andi34 commented on #6
Better solution: https://github.com/andi34/photobooth/commit/bc2b1c3f69511ce99070ac52317087bab0a21d40

Works fine. Translations added. Done.

[2019-06-30 09:34] #6 closed, assigned to nobody

[2019-06-30 09:45] andi34 commented on #7
Danke :)

Hab die README entsprechen angepasst.
Habe heute morgen die Leere Gallerie Nachricht aus dem Admin panel entfernt und in die lang Files gepackt. Denk nicht das die jemand anpassen will (eh nur bis zum 1. Foto zu sehen) und wenn doch eben entsprechend der Sprache ;)

[2019-06-30 14:05] tobiashaas commented on #7
Hey Frage,
Hast du was mit dem gPhoto2 geändert?
Hab heute das Problem gefunden warum er auf dem RPi4 zwar ausgelöst, aber die Fotos nicht gespeichert hat...

Hatte keine SD Karte in der Kamera :-D Oder war das jetzt nur Zufall?
Falls nein könnte man das evtl in der Readme noch hinterlegen.
Bei Andre im Forum gibts nämlich viele solcher Anfragen! :-)

Schönen Sonntag

[2019-06-30 14:35] andi34 commented on #7
https://github.com/andi34/photobooth/commit/62e4e12ef25c2a300a871a5c3a389c55af3da761

https://github.com/andi34/photobooth/commit/d5388faab13c34bc43733dae5cccc637d21c9013

Die private branch ist mein persönliches Setup und Default für mich. Werde ggf. Die dev2 branch default machen wenn André meine Pullrequest nicht merged und dann selbst weiter maintainen. Ist schon ne Weile offen... Gebe dem gan

[2019-06-30 20:03] tobiashaas commented on #7
Da bin ich ganz bei dir! Sicher ist sicher :-D

[2019-06-30 20:10] andi34 commented on #5
Zu den filtern: bin dabei mit zu spielen, leider zu resourcen-hungrig... Dauert ewig... Mal sehen ob ich da was auf die Beine bekomme

[2019-06-30 20:14] tobiashaas commented on #5
Super ich bin gespannt! Hab es mir auch mal angeschaut.... werde aber leider nicht schlau daraus ... bin leider absolut kein Coder ... Würde dir da gerne helfen ... bin aber ganz am Anfang :-(

[2019-06-30 20:22] andi34 commented on #5
Graustufen Bild, Sepia und negativ könnte ok sein. Hatte aber größeres vor was leider, zumindest auf dem Pi3, nicht Umsetzbar ist (nicht gut ne Minute oder länger auf ein Bild zu warten)

[2019-06-30 20:31] andi34 commented on #5
Das Ding ist:
Wenn mans ausdrucken will direkt ist Filter ok.
Wenn man's runterladen kann: Filter kann jedes Handy.
Und Filter kann man jeder Zeit im Nachhinein.

Klar, ne lustige Spielerei im Zweifel, aber muss auch praktikabel sein am Ende und der Pi ist eben kein High-Ende-Gerät.

Auf nem festen Linux PC mag das ganze ohne jegliche Probleme klappen.

Muss Mal sehen, was man wie am geschickteste

[2019-06-30 20:37] tobiashaas commented on #5
Da gebe ich dir vollkommen recht, dann lieber ohne Filter als ne Minute auf das Foto zu warten...
Kannst du mir mal sagen was ich ins Terminal reinhacken kann um das zu testen?
Dann sag ich dir mal wie lange der RPi4 dafür braucht ;-)

[2019-06-30 20:51] andi34 commented on #5
[code]
Nur als bsp

[2019-06-30 20:51] #5 closed, assigned to nobody

[2019-06-30 21:44] tobiashaas commented on #5
Also wenn das Foto in der Auflösung nicht mega groß ist, läufts ganz flüssig.
In Voller Auflösung - was meine Canon 600d hergibt - hängt sich der RPi4 irgendwann auf...
50% kleiner gehts super

[2019-07-01 06:40] andi34 commented on #5
Hatte auch schon überlegt die Bilder einfach in der Größe vorher zu beschränken und dann umzuwandeln. Ist aber auch am Ende eher unbefriedigend...

[code]
Das sollte dann auch am Ende immer das Original überschreiben.

Oder aber auch
[code]

[2019-07-01 09:28] andi34 commented on #5
Glaub ich habe eine "bessere" Alternative für Standard Filter gefunden die ich die Tage testen werde.

Imagemagick hat generell auch Probleme aus PHP raus ausgeführt zu werden...

Ggf später die php Version nochmal mit installieren und schauen ob es damit geht. Den Polaroid Effekt finde ich nämlich ziemlich nice an sich.

[2019-07-01 09:33] tobiashaas commented on #5
Also diesen Polaroid Effekt finde ich auch ziemlich nice! Der hat's mir echt auch angetan.
<3

Die Alternative wäre dann GD oder?

[2019-07-03 22:01] andi34 commented on #5
Sepia, negativ und graustufen Bilder passt.
Muss nur den Code noch schick hinbekommen... und danach ins Admin panel vorerst. Vermutlich....

[2019-07-04 13:20] koenigd79 commented on #5
Hi
Filter fände ich auch genial.
Habe auf Andre Rina weibseite in den Kommentaren folgende Seite gefunden:
https://www.reinhard-rebernig.at/website/websites/fotokasterl/#
da finde ich ist das ganz toll umgesetzt mit den FIltern, der Autor Reinhard Rebernig würde auch teile seines Codes hergeben, ggf. erspart euch das ne menge Arbeit. Ich selber kann leider nicht wirklich programmieren und lese hie

[2019-07-04 13:41] andi34 commented on #5
Schon gesehen und in Kontakt getreten vor 2 Tagen. Muss Mal sehen was davon auf dem Pi läuft. Er lässt mir Code-Teile demnächst zukommen.
Imagemagick z.B. ist zu resourcen-hungrig...
Da ich selbst noch Neuling mit PHP etc bin werde ich ggf. Hilfe brauchen, vor allem wenn der Code sauber seien soll (Code Qualität ist mir wichtig).

[2019-07-04 14:18] koenigd79 commented on #5
Super,

ggf. hilft auch das noch weiter:

https://github.com/zaachi/PHP-Instagram-effects

damit habe ich vor einiger Zeit mal expiremtiert, aber kam nicht richtig zum Ergebnis mangels  php Kenntnis.

[2019-07-04 18:55] andi34 commented on #5
Danke, habe schon was am laufen mit Standardfiltern, bin aber Codeseitig noch nicht ganz zufrieden und muss dazu auch noch alles ins Adminpanel packen bis ich eine bessere Lösung habe.

Kann also noch etwas dauern bis ich da was publiziere...

[2019-07-04 19:02] andi34 commented on #5
Im übrigen hat André auch meine Pullrequest gemerged. Abgesehen von E-Mail ist also alles auch bei ihm jetzt im Source.

Email muss ich noch testen, noch nicht zu gekommen bisher 😆

[2019-07-08 11:41] andi34 opened #8 "gallery standalone"
Make gallery a own page without button to close and without ability to take pictures.

Idea: Move current index.php e.g. to /photobooth (other recommendations welcome, maybe /takepic or /capture)

Other ways possible too (using a cookie?).

[2019-07-10 15:32] andi34 commented on #4
Does not work, but keep here to play with it later again:
[code]

[2019-07-11 15:48] andi34 opened #9 "Bug: config to enable/disable scrollbar ignored"
ATM scrollbar is always enabled. Need to investigate further.

[2019-07-13 10:50] andi34 opened #10 "idea: marriage specific config"
Add e.g.
```<div><h2>Andi <i class="fa fa-heart-o"aria-hidden="true"></i> Magi</h2></div>```
 via config in index.php

[2019-07-13 10:54] andi34 commented on #10
![Screenshot_2019-07-13_12-54-10](https://user-images.githubusercontent.com/6080900/61170688-5a820700-a56d-11e9-9923-cacda7666103.png)

[2019-07-13 11:36] andi34 commented on #10
Done, source will be published soon

[2019-07-13 11:53] andi34 commented on #10
![Screenshot_2019-07-13_13-51-07](https://user-images.githubusercontent.com/6080900/61171271-91f4b180-a575-11e9-99ad-3d3630fde905.png)
![Screenshot_2019-07-13_13-51-21](https://user-images.githubusercontent.com/6080900/61171272-928d4800-a575-11e9-8136-d75c37aaac26.png)

[2019-07-13 11:53] #10 closed, assigned to nobody

[2019-07-16 16:28] andi34 commented on #9
Fixed with https://github.com/andi34/photobooth/commit/a20611e80e15973f1b7c4cf86d87dacd2143eb66

Edit:
Seems not to work....

[2019-07-16 18:41] andi34 opened #11 "Bug: gallery settings not saved from admin panel"
Only the date format can be saved from admin panel.
Checkboxes from gallery get ignored, it always uses saved config from config.inc.php.

All other checkboxes work fine (general, wedding etc.)

Need to investigate further, no quick fix found.

[2019-07-17 03:44] andi34 commented on #4
Adjusted, need to test:
[code]

[2019-07-18 14:18] andi34 commented on #9
Still not fixed it seems....

[2019-07-20 06:12] andi34 commented on #5
@tobiashaas habe nun die Filteroption soweit fertig. Reinhard Rebernig hat mir seine snippets zur Verfügung gestellt und geholfen es auch zum laufen zu bekommen mit der sidebavbar.

Werde ich demnächst dann hochladen für jedermann.

Kannst du zufällig https://github.com/andi34/photobooth/issues/11 bestätigen?

Edit:
Erledigt: https://github.com/andi34/photobooth/commit/0a8c874e5ad5fa93f9c1eb61b9b8

[2019-07-20 07:42] andi34 commented on #11
Fixed https://github.com/andi34/photobooth/commit/0a8c874e5ad5fa93f9c1eb61b9b8746954d2f313

[2019-07-20 07:42] #11 closed, assigned to nobody

[2019-07-20 07:54] tobiashaas commented on #5
Werde ich heute mal testen! 😉

[2019-07-20 07:56] andi34 commented on #5
@tobiashaas hab den Fehler gefunden. Habe oben den Commit gepostet.

[2019-07-20 07:58] tobiashaas commented on #5
Danke für die Info! Hab es eben gesehen ;-)

[2019-07-20 08:21] tobiashaas commented on #11
Also bei mir wird es nicht gespeichert ... Hab es jetzt mehrfach heruntergeladen und neu draufgepackt! Dev und Master...
Email, Galerie und Hochzeit speichert er nicht

[2019-07-20 08:33] andi34 commented on #11
Komisch. Bei mir läuft es auf Buster und auf Xubuntu LTS.

Hast du die config.js vorher gelöscht?

[2019-07-20 08:34] andi34 commented on #11
Ggf auch einmal neustarten den Pi.

[2019-07-20 08:38] andi34 commented on #11
Im Zweifel auch:
[code]

[2019-07-20 08:39] tobiashaas commented on #11
Die Config wars ..... die hatte ich vergessen zu löschen! Jetzt passt es
Danke dir

[2019-07-20 08:47] andi34 commented on #11
Sehr gut :) freut mich :)

Nur noch Kleinigkeiten, dann gibt's auch die Filter. 🥳

Wann ist die Hochzeit wo du die Box nutzen willst?

[2019-07-20 08:50] tobiashaas commented on #11
Die Hochzeit war bereits am 13.7 ;-)
Hab dieses Jahr aber noch 2 Hochzeiten von Freunden wo ich die Box gerne aufstellen würde!

Hat sich bei knapp 200 Fotos mal aufgehängt.
Ich suche aktuell noch nach einer Möglichkeit, bei einem Touchscreen in Chromium, die Zoom Funktion zu deaktivieren. Die Box lies sich nicht mehr bedienen nachdem jemand reingezoomt hat... ;-)

[2019-07-20 08:55] tobiashaas commented on #11
Auf die Filter bin ich gespannt! <3

[2019-07-20 08:56] andi34 commented on #11
Mobile Seite? Oder über die Desktop Seite?
Da kein responsive Design erzwingt es in meinem tree die desktop Seite nun.

[2019-07-20 08:59] andi34 commented on #11
Ansonsten:
[code]

[2019-07-20 09:00] tobiashaas commented on #11
Auf der Desktop Seite

[2019-07-20 09:02] tobiashaas commented on #11
![GitHawk Upload by tobiashaas](https://i.imgur.com/I1f8fXO.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-20 09:02] tobiashaas commented on #11
Auf der Mobilen Seite - auf meinem iPhone XS - ist die Galerie nicht nutzbar.

[2019-07-20 09:17] andi34 commented on #11
Die Ansicht liegt daran, das die Booth nicht für mobile Geräte geschrieben ist. Auf der Desktop Seite sollte alles aussehen wies soll.

Responsive Design ist ne Sache.... Aber sehr aufwendig und alleine schaffe ich das nicht. Dafür bin ich nicht weit genug mit meinen Kenntnissen.
Teile sind ja auch im core.js hinterlegt und garnicht nur über die style.css definiert. Macht es nicht einfacher.

[2019-07-20 09:18] andi34 commented on #11
Fork deaktivert fix den Zugriff auf den button?

[2019-07-20 09:19] tobiashaas commented on #11
Mir reicht die Desktop Seite, wollte dich nur darauf hinweisen ;-)
Ne der Fork ist nicht der Übeltäter

[2019-07-20 09:19] tobiashaas commented on #11
Ich muss mich auch mal bisschen mehr in die Thematik reinfuchsen.
Möchte auch mehr helfen können! ;-)

[2019-07-20 09:21] andi34 commented on #11
Responsive Design ist auf meiner Liste ;)

Bis dahin:
Kannst natürlich die Schrift in der index.php anpassen. Aus ```<H1>``` z.B. ```<h2>``` machen oder gar ```<p>```

Dann sollte auch mehr Schrift in eine Zeile passen ;)

[2019-07-20 09:23] andi34 commented on #11
Ist leider auch so ziemlich alles sehr abhängig von der Display Größe...

[2019-07-20 09:26] andi34 commented on #11
Versuche immer alles in logischen commits hochzuladen.
So lerne ich immer: Anschauen was wird wie umgesetzt. Ist es ein logischer commit der nur eine Sache macht ist vieles einfach nachvollziehbar. Würde ich alles in einen commit packen und "Update" nennen hast du tausend teile die du verstehen musst.

Mache das seit Jahren so im Android Bereich auch und bin damit schon weit gekommen.

[2019-07-20 18:59] tobiashaas commented on #11
Wäre es eigentlich nicht sinnvoller, wenn man das einfach an ein fertiges Framework anpasst, welches komplett Reponsive ist?
Hab heute mal ein bisschen gegoogelt und bin auf solche Frameworks gestoßen 😉
https://www.keycdn.com/blog/front-end-frameworks

Liebe Grüße

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-20 19:27] andi34 commented on #11
Kein plan, wie viel Mehrarbeit oder Wenigerarbeit das ist 😅

[2019-07-20 19:37] tobiashaas commented on #11
Wenn ich die Tage mal Zeit habe schaue ich mir das mal genauer an ;-) dass ich auch mal wieder was dazu beitragen kann 🙈

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-20 20:29] andi34 commented on #11
Sollte das meiste mit den Media querys im style.css gehen. Im Browser lässt sich ja auch eine Gerätegröße einstellen und somit am PC anpassen möglich sein .

[2019-08-01 21:43] andi34 opened #12 "Add Imagefilter"
![Screenshot_2019-08-01_23-31-14](https://user-images.githubusercontent.com/6080900/62329428-22a81880-b4b6-11e9-9e42-3300ec6b5971.png)

![polaroid_t](https://user-images.githubusercontent.com/6080900/62351019-b4d70d80-b504-11e9-9dd9-27ad2bc8142a.jpg)

[2019-08-01 21:51] andi34 commented on #12
@tobiashaas @koenigd79

[2019-08-02 08:08] andi34 commented on #12
Pushed on all branches

[2019-08-02 08:08] #12 closed, assigned to nobody

[2019-08-02 10:56] Nie-Oh opened #13 "greenscreen funktioniert nicht"
da hat ein / in der (chroma_keying/index.php gefehlt

$( document ).ready(function() {
	setTimeout(function(){
		setMainImage('../images/<?php echo $filename?>');
	}, 100);
});

bei mir sehe ich keinen Pinsel
habe mal per http://localhost/chroma_keying/?filename=bildname.jpg
ein bild übergeben.
Hintergrund gewält und gespeicher. Hat funktioniert

[2019-08-02 12:03] andi34 commented on #13
https://github.com/andi34/photobooth/commit/dc3c045370411d5a75756f2f9e2a0a06d97a6fdc

Bringt aber leider auch nichts, mit Hintergrund wird kein Bild gespeichert, nur ohne.

Bezüglich des Pinsel:
Ggf Mal den Browser Cache leeren :)

[2019-08-02 12:13] ChrisKram commented on #4
I don't understand the use case of that button. As far as I know, the barcode shows the picture on your phone. What aren't you using the context menu to save the image?

What shall a download button do and how will you work with that on a tablet or smartphone? For me as an iPhone Users I might not be able to save the files.

for me a better use case is to upload the photos to a cloud share and sha

[2019-08-02 12:32] Nie-Oh commented on #13
Hab ich schon gemacht Von meinem Huawei-Telefon gesendet-------- Ursprüngliche Nachricht --------Betreff: Re: [andi34/photobooth] greenscreen funktioniert nicht (#13)Von: Andreas Blaesius An: andi34/photobooth Cc: Nie-Oh ,Author dc3c045

Bringt aber leider auch nichts, mit Hintergrund wird kein Bild gespeichert, nur ohne.

Bezüglich des Pinsel:

Ggf Mal den Browser Cache leeren :)

—You are receiv

[2019-08-02 12:51] andi34 commented on #4
Different user , different use case.

Why should I do complicated using a QR code if I have access on the gallery and can click simply on "Download" to get the file on my phone?

It's a feature I need for myself/my use case.

[2019-08-02 12:54] andi34 commented on #13
Funktioniert hier ohne Probleme der Pinsel Button in der Galerie.
Admin Panel benutzt und config.js stört?

Muss wenns dann funktioniert noch die config ins Admin Panel packen

[2019-08-02 13:26] andi34 commented on #13
Gebe für heute auf. Werde die Tage nochmal schauen wenn nicht jemand anderes schneller war/ist

[2019-08-02 13:57] Nie-Oh commented on #13
der Pfad wird falsch zusammen gebaut

http://localhost/chroma_keying/index.php?filename=%5Cimages%5C20190802_131826.jpg&location=aHR0cDovL2xvY2FsaG9zdC8=

Muss Sein

http://localhost/chroma_keying/index.php?filename=%2Fimages%2F20190802_131826.jpg&location=aHR0cDovL2xvY2FsaG9zdC8=

Also \ Entspricht %5C
Muss aber / also %2F sein

[2019-08-02 14:25] andi34 commented on #13
Eigenartig... Finde es auf Anhieb nicht, woran es liegen könnte. Ich schaue die Tage nochmal rein :) danke dir schon Mal!

[2019-08-02 14:46] Nie-Oh commented on #13
Die url wird irgendwie falsch zusamnen gebaut. Die variable filename hst auch einen pfad mit drinVon meinem Huawei-Telefon gesendet-------- Ursprüngliche Nachricht --------Betreff: Re: [andi34/photobooth] greenscreen funktioniert nicht (#13)Von: Andreas Blaesius An: andi34/photobooth Cc: Nie-Oh ,Author Eigenartig... Finde es auf Anhieb nicht, woran es liegen könnte. Ich schaue die Tage nochmal rei

[2019-08-02 17:13] andi34 commented on #13
https://github.com/andi34/photobooth/commit/0b9db0bf5d7a96a88f0cc6ee25e41ff3d3e396f4

Keine Ahnung ob's das fixt , kann ich erst morgen oder nächste Woche testen

[2019-08-03 09:10] andi34 opened #14 "Update jQuery to v3.4"
[code]
Once migration is done update to 3.4.1

Upgrade instructions: https://jquery.com/upgrade-guide/3.0/

Mainly ajax stuff needs to be adjusted.

[2019-08-04 13:06] andi34 commented on #13
https://github.com/andi34/photobooth/commit/b799079f20d5b8c31c3e73a099c8321090ffec4b

[2019-08-06 14:46] davide-brugnoni opened #15 "How do I connect the button to gpio 24?"
Hi, could you show me how you connected the button to gpio 24? I'm not very good at it I've been trying for hours but with no results.

[2019-08-06 16:50] andi34 commented on #15
I am not using it myself, but I guess on YouTube you'll find everything you need to know. E.g. https://youtu.be/LEi_dT9KDJI

Closed because it's no issue itself.

[2019-08-06 16:50] #15 closed, assigned to nobody

[2019-08-06 19:23] #14 closed, assigned to nobody

[2019-08-06 19:24] andi34 commented on #13
Bildgröße schien ein Problem zu seien. Geht nun alles anscheinend.

Closed. Wenn wieder ein Fehler auftritt gerne wieder öffnen.

[2019-08-06 19:24] #13 closed, assigned to nobody

[2019-08-06 19:40] koenigd79 commented on #12
Hi,

so jetzt mal Filter probiert habe, klasse, funzt.
Was mich allerdings wundert habe jetzt auf nen RPi4 4gb gewechselt und auf deine Version und zw. Foto und der Anzeige vergehen fast 10 Sekunden, vorher waren es 5 sec. Bei Verwendung der Filter nochmal 2-3 Sekunden mehr.
Kannst du das bestätigen??

[2019-08-06 20:26] andi34 commented on #12
Hab die Zeit nicht gestoppt, aber hatte auch das Gefühl daß es auf dem Pi4 etwas Träger ist im Vergleich mit dem Pi3.

Haste Mal geschaut obs mit Andrés branch schneller funzt?

[2019-08-07 15:38] koenigd79 commented on #12
Hi, so jetzt mal Andres branch probiert, gleiches Porblem, braucht auch 10 Sekunden bis zur Anzeige des Bildes..... egal ob auf direkt angeschlossenem Display oder auf Tablet. Komisch. Mehr Leistung + 4GB Ram da habe ichmehr erwartet.... werde mal schauen wo es dran hängt. Wenn ich was finde gebe ich Rückmledung.
Gruß Daniel

[2019-08-07 15:43] andi34 commented on #8
@f4bsi gerne einfach ne PR zu mir wenn du deinen Teil findest :) dann schaue ich mal drüber. Vielen Dank schon Mal :)

[2019-08-07 15:47] andi34 commented on #12
Ggf am neuen Raspbian?
Oder es ist eben noch nicht alles optimal im Quellcode (Kernel?). Pi3 erfährt ja schon ne Weile Aufmerksamkeit.

[2019-08-07 16:27] devnull1975 commented on #12
Ich habe für die Fotobox noch einen "alten" Pi3 laufen. Zu Anfang hatte ich eine alte 16GB SD-Karte drin mit der es bei ca. 3 MB Fotos zwischen 5 und 6 Sekunden dauerte bis das Foto auf dem Tablet via WLan (Pi als AP) angezeigt wurde.
Mit einer schnelleren 32GB Karte hab ich nun die Auflösung der Fotos auf knapp 8 MB stehen und es dauert genau so lange bis das Foto angezeigt wird.
Als OS lauft bei

[2019-08-07 18:17] F4bsi commented on #8
Looking into it right now :)

[2019-08-08 06:26] firesta666 opened #17 "White page / small errors"
Hello Andi34, first thank you that you work actually on this project. I love the functions from the basic version from Andre Rinas and found now your version very cool and good new features of the version from yesterday.

My system:
RPI 4, 2GB RAM, 32GB MicroSD
Basic version 1.53 are running fine, but i found the new filters a cool function and update my system with your newest version. I have do

[2019-08-08 08:19] andi34 commented on #17
Which branch you use?
Cloned from my git?

[2019-08-08 08:33] firesta666 commented on #17
Your branch right. Use this to install them:

sudo rm -r html/
sudo git clone https://github.com/andi34/photobooth html
cd /var/www/html/resources/lib
sudo git clone https://github.com/PHPMailer/PHPMailer
cd /var/www/html
sudo cp config.inc.php my.config.inc.php
sudo mkdir -p /var/www/html/images
sudo mkdir -p /var/www/html/keying
sudo mkdir -p /var/www/html/print
sudo mkdir -p /var/www/html/qrcod

[2019-08-08 09:34] andi34 commented on #17
Thanks, I'll check in the evening

[2019-08-08 09:39] andi34 commented on #17
Should work now. Quickly fixed. Copy paste Derp, sorry.

[2019-08-08 09:58] firesta666 commented on #17
Thanks for your quick help.

Have you see the other small problem:

Another issue: If i disable in the /admin page the filters, i can´t take a picture.
Error:
![grafik](https://user-images.githubusercontent.com/53881220/62693675-3a5e3000-b9d3-11e9-9687-df2e75e2b1ec.png)

And i have one question, is it possible to do a serie of 2 or 3 pictures in a row?
2 pictures are first enough, that helps the p

[2019-08-08 10:11] firesta666 commented on #17
another issue after use the new fixed version:

take a picture and this error message pops up in the developement console from the browser.
the time to create one picture is now around 6 sec., before the fixed version it was 3 seconds.
I think the issue is here, that they search the public.stream and that hold the time,

![grafik](https://user-images.githubusercontent.com/53881220/62694838-6549838

[2019-08-08 10:53] andi34 commented on #17
Sorry, missed that. Just at work, looking at it at home.

[2019-08-08 10:55] andi34 commented on #17
About the pictures in a row, sure, can be added. But needs some time to implement it.

[2019-08-08 11:29] firesta666 commented on #17
Thank you :-). My idea is, to add a button between the take a picture on the homescreen, then under that take x <-that is the value they can modify in the config or in the admin panel, pictures, then image filter.

Two easy questions for you:
Can you tell me, in which file i can change the time after the picture is created and displayed, back to the home screen? I would like to change it to a lowe

[2019-08-08 13:57] andi34 commented on #17
Pictures only resized on chroma key (Greenscreen).

It always creates a thumbnail, see takePic.php. better performance in Gallery Overview to use a thumbnail and only show the full resolution image if you click on the thumbnail.

About the time:
Must be resources/js/core.js

[2019-08-08 14:35] andi34 commented on #17
https://github.com/andi34/photobooth/commit/e99d133f06e6667f78a0c459855aea152e82fe41

Should fix takePic if Imagefilter disabled

[2019-08-08 15:35] firesta666 commented on #17
Hey Andi34, nice and very good work :-) All is working.

Thank you very much :+1:

[2019-08-09 16:17] #17 closed, assigned to nobody

[2019-08-09 18:40] andi34 commented on #17
@firesta666 about more pictures in a row you could check how it's handled here https://github.com/andi34/photo-booth/blob/master/app/booth.js#L112

Edit: was added here https://github.com/andi34/photo-booth/commit/437e57fab7b392b4a7310e24072ff0d579cebefb

[2019-08-11 14:11] firesta666 commented on #17
Hello andi34,

can you help me to implement it in your Photobooth.

I can read php but i can´t programming it. A little help was very nice.

Currently i have not installed a node on my RPI4 i am not sure if your version is running fine with them?

[2019-08-11 14:44] andi34 commented on #17
@firesta666 thanks for your support :)

I can check again when i find time for it. Shouldn't be to complicated. I am also still learning php and js here 🙈 learning by doing. Working as a medical assistant in real life. And real life atm gets big changes and not to many time on my projects.

[2019-08-11 16:06] andi34 opened #19 "Delete / Remove picture after take picture and displayed on the screen"
Hello Andi34,

can you easiely implement a button and the code, after the picture is taken to "delete" the last picture or is it a bigger work to implement it.

I have yesterday present by friends the Photobooth, they are very happy and we have take over 200 pictures on the nice evenning, but they ask if it is possible to implement it. My opinion are good for the idea, then i must not search out t

[2019-08-12 10:11] thymon13 opened #20 "Print confirmation."
Hi,

Is it possible to confirm with pop up or other when I click on print button ?
Currently nothing happens on the screen when you click on it. And people by reflex click again several times over.

Sorry for my English :)

Thanks in advance.

thymon

[2019-08-12 11:41] andi34 commented on #20
https://github.com/andreknieriem/photobooth/issues/44

[2019-08-12 21:04] flighter18 commented on #20
I implemented the print confirmation with sweetalert2.all.min.js
https://sweetalert2.github.io/#examples

1. download sweetalert2.all.min.js and save it to folder "resources"
2. add sweetalert2 to head of index.html
`       <script type="text/javascript" href='resources/sweetalert2.all.min.js'> </script>
        <script type="text/javascript">
                function printConfirmation() {

[2019-08-13 07:17] andi34 commented on #20
I am quite busy this week, I'll take a look once I find time. I think there's an easier way, adding something like
[code]
Inside core.js at the printing function

[2019-08-13 11:10] flighter18 commented on #20
Thanks for your input.
I added my swal2 function inside core.js at the printing function and removed all onclick from the index.php. I also changed the gallrery printbutton to his defaults.
It works perfect without any problem.

[2019-08-13 14:37] andi34 commented on #20
Could you paste the output of:
[code]

[2019-08-13 15:38] flighter18 commented on #20
this is core.js

[code]

[2019-08-13 15:40] flighter18 commented on #20
had to add the z-index to resources/css/style.css for the gallery confirmation

[code]

[2019-08-13 15:42] flighter18 commented on #20
finally i added the src to index.php

[code]

[2019-08-13 15:48] andi34 commented on #20
Thanks. I'll check if my solution also works as it would need less dependencies and would make it easier to maintain.
If not I'll add your solution until I find a better one :)

[2019-08-13 17:46] andi34 commented on #20
@flighter18 i've added something to test on "dev" branch. I've no printer, could you please check if it works?

[2019-08-13 18:55] flighter18 commented on #20
I didn't get any confirmation.

git status:
` Author: Andreas Blaesius <andi@unlegacy-android.org>
Date:   Tue Aug 13 19:51:35 2019 +0200
admin: fix print message and command `

[2019-08-13 19:03] andi34 commented on #20
dev branch? Or master branch?

Mh... I'll reinvestigate

[2019-08-13 19:05] flighter18 commented on #20
on dev branch

[2019-08-13 19:09] andi34 commented on #20
Could you check again please, pushed another change

[2019-08-13 19:39] flighter18 commented on #20
still no message.

[2019-08-13 19:47] andi34 commented on #20
Thanks. I am only mobile now, will check on PC again and let you know if there's something more

[2019-08-13 21:33] flighter18 commented on #20
perfect

[2019-08-14 08:23] andi34 commented on #20
Not sure if it works now. Still only mobile and not near a PC the whole day.

[2019-08-14 08:25] andi34 commented on #20
https://github.com/andi34/photobooth/commit/443b15eecf6c35d422896c975ccead78f823b9cb

Maybe have to adjust the class & id and also add some changes to style.css for changed class & id

Edit:
Did I mention I hate GitHub mobile?
Sorry for close & reopen

[2019-08-14 13:32] thymon13 commented on #20
@andi34 @flighter18 thank you a lot for your interest !!
I'm glad to see so much quick response

I can already read the French translation. You speak French ?

[2019-08-14 14:24] flighter18 commented on #20
@andi34 still no confirmation

[2019-08-14 18:54] andi34 commented on #20
@flighter18 danke fürs testen. Oh man... Muss wohl doch die Tage am PC dann schauen.

@thymon13 it is currently WIP and does not work how I've tried to implement it. Have to check next days when I am on a desktop PC (currently mobile only). I don't speak french, but from my Android development i know some people from different countries who can translate for me into french. Some basic translation

[2019-08-14 18:58] andi34 commented on #20
If I haven't forgotten anything this branch should work: https://github.com/andi34/photobooth/commits/printconfirm
Please note: you must have cloned from my GitHub:
[code]
I'd like to have a way implement in the end without depending on other projects to make maintaining easier in the end.

[2019-08-18 22:00] flighter18 opened #21 "Falsche Variable wird überprüft"
Hi @andi34

Ich habe noch ein Buggentdeckt. Und zwar im takePic.php File in der Zeile 24.
liste du dort die Variable imgFilter aus. Jedoch wird sie im core.js als "filter" verschickt. Da die Variable dann als undefiniert angezeigt wird, werden die Fotos immer zuerst im tmp Verzeichnis gespeichert.

Nach folglich noch die zwei Zeilen:

Zeile 24 im takePic.php
`if(!empty($_POST) && !($_POST['**imgFi

[2019-08-19 06:10] andi34 commented on #21
Danke :)

[2019-08-19 06:41] andi34 commented on #21
https://github.com/andi34/photobooth/commit/acfedb0400f28c615fda6f9b7e9f2092ef7e20af

[2019-08-19 06:41] #21 closed, assigned to nobody

[2019-08-19 07:41] andi34 commented on #20
Removed WIP stuff out of dev branch as dev branch is used by default on my GitHub.
I'll work on it when I have more time again.

[2019-08-22 12:19] andi34 opened #22 "MERGED: frame around the picture"
Adjust and optimize source from Steffen Musch.

Need to know: Example boarder can be used without trouble? Source & license?

[2019-08-22 13:03] Nie-Oh commented on #22
@andi34

it is better you ceate a new Example Boarder.

Steffen

[2019-08-31 22:27] thymon13 commented on #20
hi,
I don't understood how I can test this branch ? I'm noob in GIT

[2019-09-01 06:51] andi34 commented on #20
If you've cloned from my git you can use the instructions 2 posts above yours.
[code]

[2019-09-01 06:53] andi34 commented on #20
But stupid question:
Isn't it added already via
[code]
???

[2019-09-02 19:46] thymon13 commented on #20
@andi34

Ok thx. I had to confirm the commit
But nothing happen when I click "print" like before...

Isn't it added already via

Oh yes. But nothing... :)

[2019-09-03 20:12] thymon13 commented on #20
It works for you?

[2019-09-05 15:18] thymon13 opened #25 "Error french translate"
Hi !

On the line number 7 in "fr.js"

`7	"takeCollage": "Prendre une colloage!",`
the 2nd letter "O" is to be removed. And In French we say: "UN collage" not "UNE collage"

"Photos Montage" is a suitable term for "collage" translation

[2019-09-05 18:45] andi34 commented on #25
Could you add a inline note here please with the complete line translation?
https://github.com/andi34/photobooth/commit/c436d6b010319f2aba58ca0cd635b35edf59302f

I've to correct some other lines too as you can see from my inline notes

[2019-09-05 18:45] #25 closed, assigned to nobody

[2019-09-06 09:19] thymon13 commented on #25
Done ! As well as other changes in translation

[2019-09-06 09:22] flighter18 commented on #25
@thymon13 thank you! :)

[2019-09-06 10:20] thymon13 commented on #20
I am sorry to up the topic.
But it does not work at all. Nothing happens when I click on print. Did I miss something?

I am on the branch "confirmprint"

[2019-09-06 11:01] andi34 commented on #20
No printer to test here.
I'll update in Sunday, maybe you can test again

[2019-09-06 11:59] thymon13 commented on #20
@andi34 no printer needed for test it

[2019-09-06 12:23] andi34 commented on #20
https://github.com/andi34/photobooth/commit/a32e41ef1b9d6700353860f3ebe037c76a4f67b1

try again with that (branch updated)

[2019-09-06 17:18] thymon13 commented on #20
nothing :( like before.

[2019-09-07 09:19] andi34 opened #26 "MERGED: Photo collage"
Ready to test:
https://github.com/andi34/photobooth/commit/2c8ac5766b7cdd25b1cb94828ae69997311e4aab

[2019-09-07 22:42] thymon13 commented on #20
After another try: the print function does not work anymore with this branch

[2019-09-08 07:31] andi34 commented on #20
After latest Change?
I've removed them again and updated index.php as mentioned before by flighter18.
https://github.com/andi34/photobooth/commit/45c39e25e61c13883593ddf7d8b5fce1a8cad101

@flighter18 what am I missing here https://github.com/andi34/photobooth/commit/fdde9a0acac197b472b48f49ac635d7cf76428d7 ?

[2019-09-08 08:36] andi34 commented on #22
frame.png needs to be added to root of photobooth.
https://github.com/andi34/photobooth/commit/20a9b16623431942aed1610e843ae6f2e665366b#diff-d5fde551bb3c77d93baa17a8ba21e781R58

If someone can share a frame which can be used in this project without license issues let me know.
No frame.png added by default until that.

[2019-09-08 08:37] andi34 commented on #22
![deb800943fb1e89d31da5c8bf0660267](https://user-images.githubusercontent.com/6080900/64485751-9ad7cb80-d224-11e9-878f-d47f83e1ccbc.jpg)

[2019-09-08 09:31] andi34 commented on #22
added example frame

![affa4b9397dfd454c3cd5939265cd154](https://user-images.githubusercontent.com/6080900/64486345-39b3f600-d22c-11e9-96e6-42a1e2704daa.jpg)

[2019-09-08 17:43] flighter18 commented on #20
@andi34
I am on holiday right now, will be back next week 😊
So can‘t check it. Sorry

[2019-09-08 18:33] andi34 commented on #20
No Problem.
Have nice holidays! I'll have some soon too finally 😅

[2019-09-09 08:19] thymon13 opened #27 "Intruduction : My own Photobooth :)"
Hello,

I 'm glad to present you my Photobooth.
Thanks to all the people who contribute to the improvement of this project !

I was inspired by other photobooth on the internet. And I liked the one that looks like Instagram.
**So I started !!**

![7](https://user-images.githubusercontent.com/18228022/64514333-b6a5a500-d2ea-11e9-8093-7c29f6289915.jpg)
![8](https://user-images.githubusercontent.com/

[2019-09-09 08:53] andi34 commented on #27
Wow, that looks great!
I was thinking about starting a Wiki here instead using the README for everything. Guess we can add a wiki page  where I can add user projects.

Something like that is on my to-do list too. I've a wishlist on Amazon until I've enough money for it (financial situation quite bad atm, should be better in near future).

[2019-09-09 09:04] thymon13 commented on #27
@andi34
Yes it's great idea about starting a wiki

I must to start another topic. Because with my experience for a lot of event.
I have a lot of demand for enhancement in my mind. :D

[2019-09-09 09:16] flighter18 commented on #27
@thymon13 that looks really amazing!
great work!
mine is not that professional but I really like my bluetooth buzzer :)
![IMG_8798](https://user-images.githubusercontent.com/26125704/64518775-bd341c80-d2ea-11e9-9ce6-093c3ace43af.jpg)
![IMG_8896](https://user-images.githubusercontent.com/26125704/64518780-c02f0d00-d2ea-11e9-9abd-4c56cd7c047b.jpg)

@andi34 let's start a wiki. that would be great

[2019-09-09 09:21] thymon13 commented on #27
Thanks !

Yes it's another great setup, great job @flighter18

[2019-09-09 09:40] andi34 commented on #27
@thymon13 I need that buzzer! Where can I get it?

[2019-09-09 09:49] tobiashaas commented on #27
This is cool!
http://helge-suess.com/hardware/photo-booth-control/

I Need to take some photos of My Box too, to Show you :)

[2019-09-09 10:05] thymon13 commented on #27
@andi34  that's the @Flighter18's buzzer :)

[2019-09-09 10:06] flighter18 commented on #27
@thymon13 how do you fix the box on the tripod?
Could you send some pictures? :)

[2019-09-09 10:12] thymon13 commented on #27
OK I will do it.
While waiting for the photo. Know that I used a satellite support

like this exemple :
https://i.ebayimg.com/images/g/4DsAAOSwmLlX-7xn/s-l1600.jpg

[2019-09-09 10:21] flighter18 commented on #27
@andi34 I build it on my own. with this gadgets
https://www.bastelgarage.ch/buzzer-taster-rot?search=buzzer
https://www.adafruit.com/product/2829

![Unknown](https://user-images.githubusercontent.com/26125704/64523178-af36c980-d2f3-11e9-8c02-7366e0942d73.jpg)
<img width="1008" alt="Bildschirmfoto 2019-09-09 um 11 20 18" src="https://user-images.githubusercontent.com/26125704/64523252-dd1c0e00-d2f3

[2019-09-09 10:21] flighter18 commented on #27
Perfect :) thank you!
Did you make the satellite support by your own? or did you buy it?

[2019-09-09 10:24] thymon13 commented on #27
Buy it !! :)

@flighter18  Wireless Buzzer so cool :)

[2019-09-09 10:26] flighter18 commented on #27
Ok. Thank you :)

[2019-09-09 10:29] flighter18 commented on #27
If you push the buzzer shortly the photobox taks one picture. if you press the buzzer long, the photobox starts to create a collage.

[2019-09-09 10:35] thymon13 commented on #27
smart idea.

[2019-09-09 10:37] andi34 commented on #27
Well, Looks like some work and not "doing it quickly" 🙈

[2019-09-09 10:51] thymon13 commented on #27
@andi34
About my multi suggestions to enhancement.
I creat one global subject or one subect by suggestion ?

[2019-09-09 11:08] devnull1975 commented on #27
It looks really nice @thymon13

Here some Pics of my Photobooth.
There are two pieces. One on the bottom (to insert the plugs for the softboxes) and one on the top.
![20190720_102810](https://user-images.githubusercontent.com/53121253/64525633-97fed880-d301-11e9-8e2f-aff9e3040c78.jpg)
![20190702_175137](https://user-images.githubusercontent.com/53121253/64525655-a3520400-d301-11e9-937a-a4c0615c438

[2019-09-09 12:07] andi34 commented on #27
I'll prepare something where you can add it

[2019-09-09 13:37] andi34 commented on #27
https://github.com/andreknieriem/photobooth/issues/68

[2019-09-09 16:49] andi34 commented on #26
Merged

[2019-09-09 16:49] #26 closed, assigned to nobody

[2019-09-09 16:49] andi34 commented on #22
merged

[2019-09-09 16:49] #22 closed, assigned to nobody

[2019-09-10 05:37] Nie-Oh commented on #27
Hello,

Here are some Pictures of my Photobooth.

![IMG_20190413_190746_resized_20190910_072539813](https://user-images.githubusercontent.com/48091156/64586798-b3b7bc80-d39d-11e9-9679-047fd21077f9.jpg)

The Case is made of IKEA 1x1 Kallax. I use a Touchscreen Monitor directly connected to the Raspi.

![IMG_20190413_190728_resized_20190910_072540057](https://user-images.githubusercontent.com/480911

[2019-09-10 08:27] thymon13 commented on #27
@Nie-Oh great !

But is not  andreknieriem's photobooth. Isn't it ?

[2019-09-10 08:35] Nie-Oh commented on #27
@thymon13

of course it is. but i realized an Live-Preview with an USB Webcam and motion.

[2019-09-11 07:13] thymon13 commented on #27
@flighter18

![86B1E576-582E-4DAA-AFF4-04650749FC11](https://user-images.githubusercontent.com/18228022/64675790-504c8e00-d474-11e9-9d45-12e67d335fb0.jpeg)

[2019-09-11 08:08] Nie-Oh commented on #27
@thymon13

i use this to mount the Photobooth on the Tripod

https://bit.ly/2ku2z1M

[2019-09-11 17:57] flighter18 commented on #20
had some time :)
did a new git clone from the new version and added the function again. Should now work.

also did a new merge request

[2019-09-11 19:48] thymon13 commented on #20
@flighter18
I tested. Works well.
But on touch pad the display has a problem now
![IMG_0574](https://user-images.githubusercontent.com/18228022/64729614-c89b6980-d4dd-11e9-8c7a-b0caa77d2845.jpg)

[2019-09-12 06:50] thymon13 commented on #20
@flighter18

Thank you !
Works when I take a picture.  But does not work from the gallery.

EDIT :
When I click, the function is executed twice.
In gallery print confirmation is launch behind the picture. So we do not see it

[2019-09-13 10:32] thymon13 commented on #20
@flighter18

After other tests, I see that this generates bug page layout on the home page.
(sorry for my english)

[2019-09-13 19:54] flighter18 commented on #20
@thymon13 I have no problem on my test system. What for a browser do you use?

And is the color of the hook orange at the end (see pic below) or does it stay green?
![Bildschirmfoto 2019-09-13 um 21 52 38](https://user-images.githubusercontent.com/26125704/64890947-f6fd7e00-d670-11e9-995d-aa74e7ebc6eb.png)

Could you send a print screen from the bug page layout?

[2019-09-13 19:58] flighter18 commented on #27
@thymon13

Thanks :)
And how did you the corner on your photobooth? It isn't wood or?

[2019-09-14 11:20] andi34 commented on #27
You'd like to sell your buzzer? 😅🙈🤗

[2019-09-14 21:27] thymon13 commented on #20
@flighter18
It does stay green, and it is executed twice.

https://youtu.be/qIaNuETD6eI

[2019-09-14 21:33] thymon13 commented on #27
@flighter18
Foam polyurethane insulating expensive and plaster 🤣
Easy to cut, sand, paint

Look that, it was my inspiration

https://www.instructables.com/id/Instagram-Inspired-DIY-Photo-Booth/

[2019-09-15 20:37] flighter18 commented on #27
@andi34
Haha i don't think so :)
But maybe i can build you one?

[2019-09-15 20:38] flighter18 commented on #27
@thymon13

👍 Thank you. will take a look

[2019-09-15 20:51] flighter18 commented on #20
@thymon13

thank you for the video.
Are those lines in your style.css file?
[code]

the first one makes the print cofirmation visible in the gallery (z-index). The second one changes the color.

[2019-09-15 20:57] flighter18 commented on #20
@thymon13
btw.

After yesterday's use of the photobooth at a wedding, I will change the confirmation a little bit.

My idea:
After pushing the print button the page will automatically leave "picture view" mode and return to the home page or gallery page + it will display the print confirm.

[2019-09-15 22:12] flighter18 commented on #20
@thymon13

Check out my repo. I added this close function:

https://youtu.be/NTxXxTOfN8U

could you test it?

[2019-09-16 07:56] thymon13 commented on #20
@flighter18
Private video...

[2019-09-16 07:57] flighter18 commented on #20
@thymon13

😝🙈
Please check it again

[2019-09-16 12:54] thymon13 commented on #20
@flighter18
cool !
Yes I could test it...

[2019-09-16 14:09] flighter18 commented on #20
@thymon13
i did a nother push.

now the print confirmation message comes from the language file.

[2019-09-16 14:11] flighter18 commented on #20
@thymon13
be sure to remove your browser cache befor testing.
I had some trubels with my google chrome browser.

[2019-09-16 15:36] thymon13 commented on #20
@flighter18
Clean !

[2019-09-16 15:38] andi34 commented on #20
@flighter18 could we try https://gist.github.com/andi34/48a5c4f5e21e02bd6921bf86ca8e1902 instead swal?
Less dependencies = less maintain time which makes it easier to update in future.
I'd try to adjust it with some of your changes later or tomorrow evening.

[2019-09-16 15:53] andi34 commented on #20
Pushed to my dev branch. Not tested and needs adjustment.
Will be one commit later, quickly done at work 🙈

Edit:
Updated, clean commits now.

[2019-09-16 17:28] andi34 commented on #20
Looks fine to me and like a clean solution.
https://github.com/andi34/photobooth/commit/3272cb7b96948d5aa9c6f6c353f392ddeebd87a2
https://github.com/andi34/photobooth/commit/bc3daf1c571124bf483b9b84dbb13b6a7a2a5de9

@flighter18 and @thymon13 could both of you please test?

**Ready for review**
- [ ] print confirmation ( @flighter18 , @msmedien ):
  https://github.com/andi34/photobooth/commit/3272cb

[2019-09-17 10:19] thymon13 commented on #20
@andi34
Ok I'll keep you informed

[2019-09-18 03:38] andi34 commented on #20
Found some nitpicks (see inline notes), will edit the commit one again in the evening

[2019-09-18 07:40] flighter18 commented on #20
@andi34
I tested it. works like a charm :)
The nitpicks are just small things, so i think we have the sollution now!

[2019-09-18 07:59] andi34 commented on #20
Thanks for testing. Going to merge it into Andre's Source after work
:)

[2019-09-18 15:41] andi34 commented on #20
Merged :) Thanks everyone :)

[2019-09-18 15:41] #20 closed, assigned to nobody

[2019-09-18 15:52] andi34 commented on #9
https://github.com/andi34/photobooth/commit/09916a7b7148a69aeb67a2530df8b53f395fba07

[2019-09-18 15:52] #9 closed, assigned to nobody

[2019-09-18 19:11] andi34 commented on #27
Sounds like an idea.
Any idea how much it'll be? (Might have to wait a month or two until I've enough money for it. Financial situation wasn't good for one year now but should be a little better next month.
My stepdaughter got her own room now too... Lot of bills 🙈)
Guess you're from Germany too?

[2019-09-26 19:55] andi34 commented on #27
@flighter18 thought about it?

[2019-09-26 20:37] flighter18 commented on #27
Sorry i didn't see this message.
i have to calculate it. :) No idea at the moment.

i'm not from germany i am from switzerland :)

ah yes. I updated my buzzer with a LED strip. It looks fantastic:
take a look if you like:

taking collage:
https://youtu.be/44J-a71J25E

taking pic:
https://youtu.be/eKONHESbrMw

sorry for the terrible video format. i took those video for instagram :)

[2019-09-27 09:10] andi34 commented on #1
Ready for review https://github.com/andreknieriem/photobooth/pull/78

[2019-09-27 09:10] #1 closed, assigned to nobody

[2019-09-27 09:15] andi34 commented on #27
Hehe, looks great @flighter18 :) let me know if you've calculated it :)
Shipping to Germany shouldn't be problematic and guess it's not that expensive. I've a friend in Switzerland and we've send some phone equipment in the past ;)

[2019-09-29 09:53] plin2 commented on #27
Regarding remote control: Did anyone consider using ESPeasy to build a remote control unit? Some time ago I got myself this gadget (https://de.aliexpress.com/item/32905330340.html?spm=a2g0s.9042311.0.0.27424c4d6qzdZm) which can hold a battery. The only thing missing would be a case and a button.

[2019-09-29 18:37] flighter18 commented on #27
@andi34
I life near the boarder so i could send the buzzer from germany :)

This are the parts i used for the buzzer:
https://www.play-zone.ch/de/adafruit-feather-32u4-bluefruit-le.html
https://www.play-zone.ch/de/polymer-lithium-ion-lipo-akku-1000mah.html
https://www.bastelgarage.ch/buzzer-taster-rot?search=buzzer
https://www.digitec.ch/de/s1/product/delock-usb-20-a-micro-015m-20-usb-kabel-608961

[2019-09-29 18:51] andi34 commented on #27
Sounds like a fair price @flighter18 and thanks a lot for the offer!
But might be I need 1 or 2 months to have the money for it.
It'll be ok if we talk again once I have the money ready? Private life was a little crazy the last year... Need to watch next month how good things go or how bad things continue 🙈

[2019-09-29 19:17] flighter18 commented on #27
No prob! 😄
you can come back when ever you want.

[2019-10-02 13:37] tobiashaas opened #35 "Make it possible to change/Add Style in the Admin Panel with Selection."
Hello everybody,

I am currently testing a bit, but I can not get what I want ...

I would like be able to select the theme via a selection box in the Admin Panel, so far it is only possible to activate or deactivate the Bluegray Theme.

Unfortunately I do not know how to link my code here, so I'm doing it the classic way ;-)
https://github.com/tobiashaas/photobooth/tree/dev

My changes can be fou

[2019-10-02 14:41] andi34 commented on #35
https://github.com/andi34/photobooth/commit/b10248c9f5b526ae1f88b2c79ecae53ecf30a129

Will be added once the refactoring from sualko is done

[2019-10-02 14:41] #35 closed, assigned to nobody

[2019-10-02 21:03] andi34 commented on #35
Sualko hat das ganze überarbeitet: https://github.com/sualko/photobooth/commit/4ef2aa3f9312f7ce80a30c442f75afd348135194

Sollte demnächst dann reinwandern.
Muss dann nur in die config.php:

[code]

Im theme.js:
[code]

Im style.scss
[code]
Muss natürlich die style.css dann noch neu erstellt werden.

Hast du das bg_yellow für mich? Ist bei dir nicht mit drin gewesen.

[2019-10-02 21:09] tobiashaas commented on #35
Klar, das kann ich dir gerne geben.
Das Yellow war aber nur mal so just4fun :-D
![bg_yellow](https://user-images.githubusercontent.com/20755338/66082064-a095a800-e569-11e9-8dc9-8e35d89dc0b5.jpg)

[2019-10-02 21:11] andi34 commented on #35
Kannst du auch gerne noch optimieren oder anhand der Infos was anderes feines vorbereiten ;)

[2019-10-02 21:14] tobiashaas commented on #35
Ich bin gerade noch dabei eine etwas andere Optik zu kreieren :-D
Wenn man den Hintergrund für eine Hochzeit personalisiert, dann hat man den Text und die Buttons auf dem Gesicht liegen, was nicht schön ist... Siehe Index_test.php in meinem Branch

Aber mal schauen ob ich das hinbekomme ;-)

War auf jeden Fall schon mal nicht so falsch mit dem Yellow Theme, hab da schon an den richtigen Stellen ru

[2019-10-02 21:16] tobiashaas commented on #35
Was ich mich noch gefragt habe...
Theme.js
`if (config.color_theme === 'yellow') {
    $('#wrapper').addClass('yellow-bg');
}`

Wäre es da nicht sinnvoller wenn man das in die Haupt Index.php einfügt?
So könnte man den Hintergrund über das Admin Panel austauschen.

Zb.
`Body style="background: url('/resources/img/bg.jpg') center center no-repeat;"`

Da könnte man doch sicher die url per PHP austau

[2019-10-02 21:21] andi34 commented on #35
Gute Frage. Vllt sobald die Option drin ist als Enhancement issue aufmachen. Mal abwarten was Klaus da noch zaubert.

[2019-10-02 22:35] tobiashaas commented on #35
Hat geklappt! ;-)
Muss es nun nur noch anpassen
Danke dir!

[2019-10-03 09:50] andi34 commented on #35
https://github.com/sualko/photobooth/commit/4c2e6b0a2c8b16f817c49b585b75b0234be325c4

;)

[2019-10-10 12:22] andi34 commented on #27
I am now using a Bluetooth presenter from csl (CSL - Presenter USB 2,4 GHz Fernbedienung für Präsentationen - Hohe Präzision - geeignet für MS PowerPoint Libreoffice Impress Open Office Impress https://www.amazon.de/dp/B07T3BPL5H/ref=cm_sw_r_cp_apa_i_BiYNDbXVBS4FA)
Which uses keys 33 and 34 (page up and down) which works fine on alpha 2.0.0 to trigger photo and collage :)

[2019-10-10 14:10] flighter18 commented on #27
@thymon13 where did you buy the satellite support? :) I coulnd't find it here in switzerland.

[2019-10-10 16:06] thymon13 commented on #27
@flighter18
**Here** : https://www.google.com/maps/@43.2934774,5.4824366,3a,75y,122.14h,99.9t/data=!3m6!1e1!3m4!1sc-cbBCpvIMxS5MpPvr8Jhw!2e0!7i13312!8i6656?hl=fr-FR

🤣 🤣
Come !!

[2019-10-10 16:15] flighter18 commented on #27
@thymon13
😆 😆 thank you 👍 will be there tomorrow

[2019-10-10 16:21] flighter18 commented on #27
@thymon13 actually there is a shop near Mulhouse. So not far from my home.
Maybe i can get it there 😃

Do you have a link to this "satellite support" on leroymerlin.fr? I couldn't find it because everything is in french 😅

[2019-10-10 19:06] firesta666 commented on #27
How it works with the Bluetooth presenter and the config to Pins?

Thanks for help

[2019-10-10 19:14] andi34 commented on #27
@firesta666 in v2.0.0-alpha.
Set config for photo key: 33 or 34 (Page Up and Page down on Presenter)

To also use a GPIO buzzer:
For GPIO use the Python script in root of the source and modify the script to send accesskey 33/34

[2019-10-10 19:18] andi34 commented on #27
Connect the Presenter with your pi,
Open https://keycode.info ,
Press a button on your presenter

[code]

[2019-10-11 08:53] thymon13 commented on #27
@flighter18

Indeed, I can not find it anymore.
😢

[2019-10-11 14:14] firesta666 commented on #27
@Andi34: Thanks for information.

Question: Where can i found the Alpha 2.0.0-alpha?

[2019-10-11 14:38] andi34 commented on #27
@firesta666 follow https://github.com/andreknieriem/photobooth/wiki/Update-Photobooth

[2019-10-12 07:55] andi34 commented on #19
In v2.0.0-alpha

[2019-10-12 07:55] #19 closed, assigned to nobody

[2019-10-12 07:56] andi34 commented on #8
In v2.0.0-alpha, `localhost/gallery.php`

[2019-10-12 07:56] #8 closed, assigned to nobody

[2019-10-14 13:45] flighter18 commented on #27
@thymon13 sad story :cry: :laughing:

[2019-11-18 10:16] flighter18 commented on #27
@thymon13 look my new photobooth :smile:

![68993980-c35fef80-087d-11ea-8cb1-41fac87cfc5a](https://user-images.githubusercontent.com/26125704/69044206-cb8e6b00-09f4-11ea-860a-fe7257a0f42d.jpg)

[2019-12-10 13:30] #4 closed, assigned to nobody

[2020-01-19 16:12] irqnet opened #39 "Use GPIO.output to control relais (external photo light)"
Would be great if it's possible to control a relais attachted to a raspberry GPIO port, to turn on an external photo light, when image is taken.

I would like to turn the light on when countdown starts and turn it of, when picture is taken.

[2020-01-19 16:29] irqnet commented on #27
Is the light always on, or how do you control it while taking a picture?

[2020-01-19 16:35] andi34 commented on #39
Any reason to not follow the template?

[2020-01-20 06:21] flighter18 commented on #27
@irqnet
no it isn't always on.
The LED stripe does like a countdown while the the user is seeing the countdown on the display and finally the stripe does a pattern while the finished pictures is showing.

[2020-01-20 14:42] andi34 commented on #39
Closed until opening post updated with feature request template.

[2020-01-20 14:42] #39 closed, assigned to nobody

[2020-01-24 20:43] andi34 opened #40 "Adjustable time a picture is shown after taken"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
As requested make time adjustable the picture is visible after it was taken.

**Describe alternatives you've considered**
None.

**Additional context**
It's on my to-do list.

[2020-01-25 08:25] #40 closed, assigned to nobody

[2020-03-01 11:11] andi34 opened #41 "Fallback to English if a translation is missing"
**Is your feature request related to a problem? Please describe.**
At the moment a it'll show the key if a translation is missing. We should fallback to the English language file on those missing keys.

Initial issue (feature request) opened here: https://github.com/andreknieriem/photobooth/issues/125

**Describe the solution you'd like**
Allow to define a fallback language

**Describe alternative

[2020-03-05 08:47] eierbatz opened #42 "No Foto taken with "Live-Preview enabled during Countdown""
**Describe the bug**
Hallo, danke für die Anwendung an den Entwickler , super Sache.

Mein Problem:
Ich habe Photobooth2.2.1.zip von den Isues kopiert und auf mein Rasp kopiert. Funktioniert soweit.
Livewallpaper funktioniert über die Tabletcam bei dem Homescreen und auch bei dem Countdown. Aber nach dem Cheeese wird kein Bild aufgenommen und ein Fehler ausgegeben.
Deaktiviere ich das Livewallpape

[2020-03-05 09:58] andi34 commented on #42
Welche Optionen zur Aufnahme nutzt du?
Gphoto?

Wenn du eine Raspberry Camera nutzt funktioniert die Aufnahme nicht über die Raspberry Camera wenn Motion aufgesetzt ist.

Am Besten bitte deine my.config.inc.php Posten damit ich es ggf. nachstellen kann.

Edit:
Welche Fehlermeldung wird angezeigt?
Die Option hierfür darf im Admin Panel natürlich nicht deaktiviert sein, dann spuckt er auch aus warum

[2020-03-05 10:18] eierbatz commented on #42
Hallo

Ich nutze Gphoto um ein Bild von einer externen Kamera (Canon) per USB zu Capturen. Die Vorschau läuft soweit und verwendet die Tabletkamera, (Android App um die Kamera als Webcam zu nutzen mit url(http://cameraIP:8080) )

Die Fehlermeldung ist sehr generell gehalten :-) Fehler bei der Aufnahme. Kann man mehr Text erwarten, wenn der Entwicklermodus im Adminpanel angeschaltet ist?
Komme gera

[2020-03-05 10:40] andi34 commented on #42
Unabhängig von Entwickler Modus, "Fehlermeldungen anzeigen" aktiviert lassen.

Kommt dann eins der folgenden:
- Gphoto returned with an error code
- File was not created
- No style provided
- No or invalid collage number provided
- Collage consists only of 4 pictures
- Invalid photo style provided
- No preview by device cam available!

[2020-03-05 16:39] andi34 commented on #42
Ich hab's gerade Mal schnell mit IP Webcam aus dem Playstore versucht (https://play.google.com/store/apps/details?id=com.pas.webcam) und zumindest im Dev Mode keine Probleme die Vorschau zu sehen und Bild sozusagen "auszulösen".

Poste doch einfach einmal deine my.config.inc.php und ich schaue Mal ob ich was sehe.
Bitte auch die Fehlermeldung die erscheint wenn du auslöst.
Ansonsten schau Mal am P

[2020-03-05 17:13] andi34 commented on #42
Eine Idee habe ich bezueglich falschem Setup:

Beides aktiviert:
- Vorschau aus der Gerätekamera anzeigen
- Gerätekamera zur Bildaufnahme verwenden

Heisst: du siehst die Vorschau aus z.B. deiner Tablet Kamera wenn du dort (am selben Tablet) die Booth aufrufst, dieses Bild wird dann auch aufgenommen. Hier wird gphoto dann **NICHT** genutzt!
Heisst aber auch: Sollte kein Stream erzeugt werden koenn

[2020-03-05 19:31] andi34 commented on #42
https://github.com/andi34/photobooth/wiki/FAQ#how-to-use-a-live-stream-as-background-at-countdown

[2020-03-08 09:07] andi34 commented on #42
@eierbatz kann ich das Issue schließen?

[2020-03-08 10:31] eierbatz commented on #42
Hallo, danke für deine Mühe.
Komischerweise bekomme ich es nicht mehr hin, dass es.nicht mehr geht. Denke es lag an meinen Aufnahmebefehl, den ich angepasst habe. Nicht captureimage sondern triggercapture... ein längeres wait and download hat scheinbar das Problem gelöst.

[2020-03-08 11:40] andi34 commented on #42
Ok, Dann schließe ich das Issue.
Danke für die Rückmeldung.

[2020-03-08 11:40] #42 closed, assigned to nobody

[2020-03-30 18:50] andi34 opened #44 "Preview at countdown from URL"
**Is your feature request related to a problem? Please describe.**
Allow using a Preview at countdown from URL
This gives the possibility e.g. to use Motion to share the preview independent of the device you access Photobooth from.

**Describe the solution you'd like**
Option in admin panel, same as for background.

**Describe alternatives you've considered**
None.

**Additional context**
Requeste

[2020-03-30 18:50] andi34 commented on #44
@magforce falls du den Motion stream als Countdown Hintergrund nutzen willst kannst du auch gerne hier in meinem Fork vorbeischauen.

Ist in v2.2.1 integriert.

[2020-03-30 18:50] #44 closed, assigned to nobody

[2020-04-01 11:18] md-20 opened #45 "Ability to choose a frame before taking a picture"
**Is your feature request related to a problem? Please describe.**
no
**Describe the solution you'd like**
I love your software! It has so much functionality and is blazing fast with my Raspi4!
I only miss one thing: **the abiility to choose a frame before taking a picture**. I could imagine very funny frames, but they need to be seen before the image is taken to take the right props e..g.  That s

[2020-04-01 12:27] md-20 opened #46 "Implement fullscreen button for android tablets"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
On my android tablet status bar and tabs are shown when i open the photobooth-page in Chrome. I cannot open fullscreen mode.
But when I implement following simple code in index.php it works, maybe you could implement it as an option?:
`<button id="goFS">Go fullscreen</button>
<script>
  var

[2020-04-01 13:46] andi34 commented on #46
I'll take a look at it next days :)

[2020-04-01 13:48] andi34 commented on #45
it's currently not on my to-do list, but I'll keep the issue here open for development in future or in case some else likes to implement and send a Pullrequest.

[2020-04-05 11:14] andi34 opened #47 "iPad 2/3 compatibility"
## https://github.com/andi34/photobooth/releases/tag/v2.8.0

**Is your feature request related to a problem? Please describe.**
Safari Browser on iOS 9 in not compatible with es6.

**Using transpiled JavaScript which enables support for Safari 9 - will be added to stable release on v2.8.0**

**Ready to use package**
[photobooth-SNAPSHOT.20200808205436739.zip](https://github.com/andi34/photobooth/f

[2020-04-06 09:48] andi34 commented on #41
Get i18n-editor v2.0.0-beta.1 [from here](https://github.com/jcbvm/i18n-editor/releases/tag/2.0.0-beta.1). The application requires java 8 to be installed on your system. You can get java 8 from https://www.oracle.com/java/technologies/javase-jre8-downloads.html .

- If you're on Windows you can install the application by running the `.exe` file. If you're on Mac you can use the application by run

[2020-04-06 10:55] andi34 commented on #46
Good idea where to place the button?

![Screenshot_20200406-125452](https://user-images.githubusercontent.com/6080900/78551398-f0e60f00-7805-11ea-86e9-dcff984abec5.jpg)

![Screenshot_20200406-125456](https://user-images.githubusercontent.com/6080900/78551406-f4799600-7805-11ea-81dc-ed6901f73dfa.jpg)

[2020-04-06 11:25] andi34 commented on #46
![Screenshot_2020-04-06_13-25-00](https://user-images.githubusercontent.com/6080900/78553737-0b21ec00-780a-11ea-94aa-b20e41a432b1.png)

i think it's looking quite ok now.

what do you think?

[2020-04-06 13:38] md-20 commented on #46
Yes it looks awesome. Will it Look in landscape mode similiar?

[2020-04-06 14:02] andi34 commented on #46
Depends on your display size, on 6 inch:

**Landscape**
![Screenshot_20200406-160013](https://user-images.githubusercontent.com/6080900/78566673-e173bf80-781f-11ea-878d-433cc4620421.jpg)

![Screenshot_20200406-160016](https://user-images.githubusercontent.com/6080900/78566692-e6387380-781f-11ea-842d-fcae33d94f81.jpg)

**Portrait**
![Screenshot_20200406-160030](https://user-images.githubusercontent

[2020-04-06 14:47] md-20 commented on #46
Awesome, you rock! Do you implement it in options to enable and disable for those who want do decide if they need that option?

Oh and i wonder if the button could disappear when already in fullscreen? Maybe its not easy to implement?
 I think i can switch to normal mode by hitting the back button. But then it must reappear when going back to normal mode.
No, i think the button can stay there :) S

[2020-04-06 14:56] andi34 commented on #46
It's easy to hide it if you are in fullscreen, but if you exit fullscreen without reloading the page the button would still be gone.

[2020-04-06 14:57] andi34 commented on #46
[code]

[2020-04-06 15:13] andi34 commented on #46
Ready to use build:
[photobooth-SNAPSHOT-20200406.zip](https://github.com/andi34/photobooth/files/4439215/photobooth-SNAPSHOT-20200406.zip)

[2020-04-06 15:23] md-20 commented on #46
i think you could implement a toast message on pressing the button like " Please reload the page when you turn back to normal mode". Other option: Just writing "Please reload the page when you turn back to normal mode" after the option in admin panel

[2020-04-06 15:24] md-20 commented on #46
Great! Sorry, i have a look later again, im busy now

[2020-04-06 15:48] andi34 commented on #46
I'll think about it. But if you have time feel free to implement and send a PR.

[2020-04-06 21:48] md-20 commented on #46
It looks great and works nicely, thank you! Well done! I think you can keep it that way, the button doesn't matter, its pretty!
![Screenshot_181](https://user-images.githubusercontent.com/30606389/78608324-02103980-7861-11ea-9d71-ffa8dd41034d.jpg)

[2020-04-07 04:06] andi34 commented on #46
Great!
Let me know if you find any issues, the package now also used a different translation library which supports a fallback if a translation is missing. Also i18n-translator can be used to translate Photobooth.

For reference https://github.com/andi34/photobooth/issues/41

Edit:
Forgot to mention that I've tried to enable fullscreen automatically at accessing the page, but it needs a user actio

[2020-04-11 06:55] #41 closed, assigned to nobody

[2020-04-11 06:59] #46 closed, assigned to nobody

[2020-04-12 09:16] danielh84 opened #51 "Language Files are not detected if photobox is not installed in home-dir"
**Describe the bug**
i installed the fotobox in the folder /photobox/ instead of /.

All files are loaded instead of

de.json
en.json

They got a 404 because they are searched in /resources/lang/ instead of /photobox/resources/lang/

**To Reproduce**
Steps to reproduce the behavior:
1. Install photobox in a subdir
2. Open Admin View or Main Site

**Expected behavior**
All files are loaded well

**

[2020-04-12 09:40] andi34 commented on #51
@danielh84 thanks for reporting the bug!

Could you please also test if https://github.com/andi34/photobooth/commit/6203d6e2306c51a8c1d0e06d1709712f302bb9f8 fixes the problem for you? I've no trouble here now.

[2020-04-12 09:50] danielh84 commented on #51
The main-site works fine....

Admin site gets an errror. It wants to find the files in

/photobooth/admin/resources/lang/ and not
/photobooth/resources/lang/

[2020-04-12 10:27] andi34 commented on #51
ok, thanks. i see... :disappointed:
let me see what i can do. might find some more time later, else tomorrow to fix it.

[2020-04-12 17:24] andi34 commented on #51
Latest dev branch should work now, only not happy the way to get it working.

[2020-04-13 09:07] #51 closed, assigned to nobody

[2020-04-13 09:07] andi34 commented on #51
Fix merged and build published.
i'll try to find a better solution for future releases.

[2020-04-16 20:03] fui86 opened #54 "External Monitor Touch"
Hi, i want to connect my raspberry to a monitor with HDMI for video and USB for touchscreen.
Is it compatible with any monitor?
I'm looking this model:
https://www.ebay.it/itm/81cm-32-ELO-ET3243L-HD1080-MONITOR-SAW-TOUCH-TOUCHSCREEN-E000732-WANDMONITOR/273770200955?hash=item3fbdf9bf7b:g:APoAAOSw~llcIJqn

[2020-04-16 20:11] andi34 commented on #54
You'll have to ask the touchscreen seller if it's compatible with a raspberry pi. Some touchscreens need special driver.

[2020-04-16 20:11] #54 closed, assigned to nobody

[2020-05-10 17:41] andi34 commented on #47
### old information < v2.8
**Source changes for reference**
https://github.com/andi34/photobooth/commit/98e9055654486046e9af9c4a6e9bcd01d13f1fec

**Limitations**
As of v2.3.0 we're using a new translation library which also would need to be reverted to keep Photobooth running on an old iPad.
I am not going to move back on that as it would require to much time on upcoming releases, but maybe if i h

[2020-05-21 11:43] andi34 opened #57 "Stream from device cam as background without motion"
**Is your feature request related to a problem? Please describe.**
No. Only improvement.

**Describe the solution you'd like**
On init start the Videostream from device cam and use it as background.

**Describe alternatives you've considered**
None.

**Additional context**
WIP.

Something i was testing. Device cam works as background but
- no preview at countdown
- missing background on result pag

[2020-05-31 20:03] andi34 opened #60 "Options explained"
**Is your feature request related to a problem? Please describe.**
No. But many questions which come up are identical or related to unknown options.
Explain every option for proper documentation.

**Describe the solution you'd like**
Own page with every option explained.

**Describe alternatives you've considered**
Keep answering the same questions.

**Additional context**
Fixed by https://github.

[2020-06-01 13:47] #60 closed, assigned to nobody

[2020-06-01 13:50] #57 closed, assigned to nobody

[2020-06-03 19:26] andi34 opened #62 "Add missing German strings for offline manual"
I've started working on it already. Hope to finish it later this week.

Left to translate:
https://github.com/andi34/photobooth/blob/d44ecf0d4a06c50c2a36619e664013066034bd9c/resources/lang/en.json#L146-L215

[2020-06-04 14:19] andi34 commented on #62
Wenn aktiviert, werden Bilder vorgeladen und während der Filterverarbeitung angezeigt.

Wenn aktiviert, können Sie einen Text definieren und zwischen verschiedenen Symbolen wählen, die auf der Startseite angezeigt werden.

Wenn aktiviert, können Sie Text auf Ihre Bilder drucken.
EN: onto

Bildqualität für Chroma-Keying-Bilder.

Bildqualität beim Aufnehmen von Bildern.

Bildqualität der Thumbnails.

[2020-06-04 17:59] #62 closed, assigned to nobody

[2020-06-06 10:54] andi34 commented on #47
**Ready to use packages**
- [photobooth-2.2.3.zip](https://github.com/andi34/photobooth/files/4739854/photobooth-2.2.3.zip)
- [photobooth-2.2.3.tar.gz](https://github.com/andi34/photobooth/files/4739856/photobooth-2.2.3.tar.gz)

Based on: https://github.com/andi34/photobooth/commits/860070261a80da2e1ebe4b681a358aac9c853ac5

Includes new options from v2.4.0

[2020-06-07 08:23] andi34 opened #64 "[USER] TRANSLATE PHOTOBOOTH"
Hey together!

Photobooth now reached v2.4.0 and a lot of translation are missing for French, Greek and Spanish. It would be great if someone is able to help on completing the translation on those languages.

**Photobooth joined Crowdin as localization manager!**

Translating Photobooth is easier than ever before!
Create an account on Crowdin and apply as translator on  https://crowdin.com/project

[2020-06-13 11:07] andi34 opened #65 "[survey] Gallery button position"
# Survey

Place Gallery buttons on top or center on the bottom by default?

Please let me know your opinion!

## Examples of buttons on bottom center
**UPDATED 14.06.2020**

On mobile devices (width <1024px) buttons left aligned, else some buttons are out of view

### Desktop view
![Screenshot_2020-06-14_11-39-52](https://user-images.githubusercontent.com/6080900/84590124-1f9aea00-ae34-11ea-9005-a

[2020-06-14 11:32] andi34 opened #67 "Start screen on small displays needs to be optimized"
**Describe the bug**

On small displays the start screen isn't fully visible in landscape.

**Screenshots**
![Screenshot_20200614-134032](https://user-images.githubusercontent.com/6080900/84592278-bcfe1a00-ae44-11ea-8b70-3a7cf9076540.jpg)

![Screenshot_20200614-134043](https://user-images.githubusercontent.com/6080900/84592279-be2f4700-ae44-11ea-81d9-0238379ff80b.jpg)

[2020-06-14 11:38] andi34 commented on #67
**After adjustments**

![Screenshot_20200614-133644](https://user-images.githubusercontent.com/6080900/84592235-52e57500-ae44-11ea-8e2f-5a080043aec2.jpg)

![Screenshot_20200614-133640](https://user-images.githubusercontent.com/6080900/84592238-5678fc00-ae44-11ea-9b23-02cc0a2939b5.jpg)

[2020-06-14 13:38] michi-93 commented on #65
Hi!
In my opinion this is much better to handle than the buttons before!
Good job

[2020-06-14 13:43] michi-93 commented on #27
Hi!
i want to show you my version of the photobooth. I designed the box on the 3D software and a fried of mine who owns a CNC wood milling machine has cut it for me.
![Der_Fotokamerad_2](https://user-images.githubusercontent.com/66664533/84594948-a613f380-ae55-11ea-99ca-39ec41b34a42.png)

This is the digital version.

![Fotobox](https://user-images.githubusercontent.com/66664533/84594958-ba57f080-

[2020-06-19 18:50] #65 closed, assigned to andi34

[2020-06-19 18:50] #67 closed, assigned to nobody

[2020-06-20 20:07] andi34 opened #69 "[QR-Code] Adjust WiFi SSID via admin panel"
**Is your feature request related to a problem? Please describe.**
To adjust the WiFi SSID visible inside the QR Code you need to adjust the language file

**Describe the solution you'd like**
Define via admin panel

[2020-06-22 21:33] natastro commented on #64
Hi! I'd love to help with Spanish translation if at all possible. :)

[2020-06-23 04:51] andi34 commented on #64
@stroudn1 that would be great! You can follow the instructions mentioned in the Wiki
 I18n-editor works fine and makes it easy to translate.

[2020-07-02 15:15] andi34 commented on #69
https://github.com/andi34/photobooth/pull/70

[2020-07-02 15:15] #69 closed, assigned to andi34

[2020-07-02 20:11] andi34 commented on #47
**Ready to use packages**
- [photobooth-2.2.4.zip](https://github.com/andi34/photobooth/files/4865261/photobooth-2.2.4.zip)
- [photobooth-2.2.4.tar.gz](https://github.com/andi34/photobooth/files/4865262/photobooth-2.2.4.tar.gz)

  - Based on: https://github.com/andi34/photobooth/commits/da617bcc002318f38652ff635bce24ae33d11d57

  Includes new options from v2.5.0

[2020-07-04 07:02] andi34 opened #73 "Gallery: Close opened picture if photo/collage is triggered"
**Describe the bug**
If a picture is opened in gallery and a picture is taken via buzzer/keycode the countdown and everything following is not visible.

**To Reproduce**
Define a keycode to trigger a picture via admin panel.
Take a picture.
Open gallery and click on a thumbnail to view the picture.
Trigger a photo via defined keycode.

**Environment (please complete the following information):**

[2020-07-04 07:03] andi34 commented on #73
@sualko you've an idea how to fix that?

[2020-07-06 13:25] sualko commented on #73
Hi Andy, currently I can't help because I didn't use it for quite some time, because I'm busy with other things.

[2020-07-06 13:29] sualko commented on #73
Maybe a quick idea: You should register an event handler in https://github.com/andi34/photobooth/blob/dev/resources/js/photoinit.js which is listening for the trigger key and call `gallery.close()`. Your linked commits will result in a huge mess. Maybe you can also make `gallery` globally callable, but that would be the nasty way.

[2020-07-06 14:55] andi34 commented on #73
It's the `pswp` class which has the picture opened.
I somehow need to use the `pswp.close()` from https://github.com/andi34/PhotoSwipe/blob/master/dist/photoswipe-ui-default.js#L734

But didn't got it working so I've had to remove all the classes this way (else it'll add the other classes a second time if a picture is opened)....

Edit:
https://github.com/andi34/PhotoSwipe/blob/master/dist/photosw

[2020-07-06 17:35] andi34 commented on #73
https://github.com/andi34/photobooth/pull/74/commits/1804d3cb12565e071790002c8710daefb58fba2b

Ok, this works too 🙈
Thanks @sualko !

[2020-07-07 19:14] andi34 commented on #73
Well... Seems like my cache had a false positive result. Does not work this way... Need to play around again

[2020-07-07 20:16] andi34 opened #75 "Standalone gallery: don't trigger take picture or collage via buzzer/key"
**Describe the bug**
If you take a picture or collage via defined key and have a picture opened inside your standalone gallery it'll try to take a picture there too and fails. It'll now close the whole gallery while closing opened picture and you have to reload the page.

[2020-07-08 20:37] andi34 opened #77 "Automatically reload Photobooth if an error occurs while taking a picture."
**Is your feature request related to a problem? Please describe.**
Automatically reload Photobooth if an error occurs while taking a picture.

There might be cases you like to press the "reload" button, but in most cases you don't like to use it.

[2020-07-09 18:51] #73 closed, assigned to nobody

[2020-07-09 18:53] #75 closed, assigned to nobody

[2020-07-09 18:57] #77 closed, assigned to nobody

[2020-07-09 19:26] andi34 commented on #47
**Ready to use packages**
- [photobooth-2.2.5.zip](https://github.com/andi34/photobooth/files/4899068/photobooth-2.2.5.zip)
- [photobooth-2.2.5.tar.gz](https://github.com/andi34/photobooth/files/4899065/photobooth-2.2.5.tar.gz)

  - Based on: https://github.com/andi34/photobooth/commits/fb1ab971fc99dab5ef26b2deb75168902992dd7b

  Includes new options from v2.6.0

**New options**
- Automatically re

[2020-07-09 19:53] andi34 commented on #77
![ezgif-5-1a131d271f88](https://user-images.githubusercontent.com/6080900/87084444-87bfce80-c22e-11ea-8487-4e85a860c52d.gif)

[2020-07-13 17:50] pichapee opened #79 "Question: Live View not working"
Hey there,

I'm trying to get the Live View working for a few days now and don't know what to do right now.
My knowledge of linux is very basic and i couldn't find any more sources to look up my question,  so please forgive me :)

What i tried so far:

-Installed Master-Branch from andreknieriem, from script. Setup as in Wiki. Everything works accept live view.
-Installed your branch (andi34) from

[2020-07-13 18:12] andi34 commented on #79
Currently there's no working way known to me, to use gphoto for preview.
But in general: If you generate a stream, you could define the stream via admin panel for Preview from URL at countdown for example - this would be the same on all devices you access Photobooth from.
- Admin panel config "Preview from URL": `true`
- Admin panel config "Preview-URL" example (add needed IP address instead): `ur

[2020-07-13 18:28] pichapee commented on #79
Okay, didn't know that, thought there would be an "easy" way to enable it.

Actually entered the wrong ip-adress * **facepalm** *. Thanks for reminding me. Cam from Android device is now working.

Looks like im going to use the cam from the tablet.

Thanks for your help!

[2020-07-16 09:57] andi34 commented on #47
**Ready to use packages**
- [photobooth-2.2.6.zip](https://github.com/andi34/photobooth/files/4930716/photobooth-2.2.6.zip)
- [photobooth-2.2.6.tar.gz](https://github.com/andi34/photobooth/files/4930715/photobooth-2.2.6.tar.gz)

  - Based on: https://github.com/andi34/photobooth/commits/88f29953cc86a5139a04db710cf9ccb18155e9e7

    Includes changes from v2.6.1:
    **Bugfixes**
    - Fix video--se

[2020-07-20 06:10] #79 closed, assigned to nobody

[2020-07-24 21:49] nocomment-bln opened #81 "Collage: invaild file provided"
Hallo Andi34,

die Collagen Funktion funktioniert bei mir leider nicht.

Es werden alle 4 Fotos ausgelöst und beim zusammenrechnen kommt dann das:

![image](https://user-images.githubusercontent.com/37557661/88437995-f47ac180-ce07-11ea-8ddd-078ddcfc4dd7.png)

Hast du eine Idee woran es liegen könnte ?

Installiert ist: 2.7.0 auf nem Raspi 4

[2020-07-24 22:20] andi34 commented on #81
Schau ich mir nach dem Aufstehen an.
Hast du Mal den Browser cache geleert? Oder über ein Privates/Incognito Fenster geöffnet und versucht?
Ist über F12 was in der Konsole noch sichtbar?

[2020-07-25 07:58] andi34 commented on #81
Problem gefunden. Ich schaue gerade nach einer Loesung

[2020-07-25 08:09] #81 closed, assigned to nobody

[2020-07-25 09:06] andi34 commented on #81
v2.7.1 behebt das Problem und ist ab jetzt verfuegbar.
Vielen Dank fuers melden des Fehlers!

[2020-07-25 10:04] nocomment-bln commented on #81
Danke Andi! Super schneller Support! Gute Arbeit!

[2020-07-25 10:28] nocomment-bln opened #82 "Wishlist"
Hallo Andi,
super dass du das Projekt so gut weiterentwickelst und am Ball bleibst! Danke hierfür!

Hier kommen ein paar Ideen und Anmerkungen.

**1.** Wenn man auf Drucken klickt, sollte man einstellen können dass mehrere Abzüge gedruckt werden.
Beispiel: Eine Gruppe mit 3 Leute macht zusammen ein Foto. Wenn man jetzt auf Drucken drückt kommt nur eins raus.
Man sollte die Funktion aktivieren/deak

[2020-07-25 11:19] andi34 opened #83 "Preview from gphoto"
**Is your feature request related to a problem? Please describe.**
No and yes. It would be good to be able to only use the main camera also to generate a preview.
Currently we need a 2nd camera to use it or it's stream.

**WIP:**
https://github.com/andi34/photobooth/tree/feature/gphoto-preview2

**Feel free to play around with it**
Please take a look at the setup instructions mentioned here: https

[2020-07-25 11:38] andi34 commented on #82
Hey und danke für die Vorschläge.

Für den Print command ließe sich natürlich eine Schleife einbauen, würde aber bedeuten das eine Abfrage der Anzahl beim Druecken auf den Druck Button abgefragt werden muss.
Denke das bekomme ich hin , braucht aber Zeit.

Das Collage Layout anpassen habe ich schon Mal versucht, aber gescheitert. Vielleicht schaue ich mir das nochmal an, ansonsten freue ich mich na

[2020-07-25 11:48] Acemond commented on #83
Wow how did you get to see that code? Did you check the forks of the project? I've litterally spent hours pulling my hairs on that feature on a fork of this repo :D

Didn't manage to make it work in my case because, I believe, some libraries were missing on my raspberry. What did you add to make it work?

[2020-07-25 11:48] Acemond commented on #83
My code was mostly experimental stuff to get something to work, quite not huh... best practices friendly :o

[2020-07-25 11:57] andi34 commented on #83
@Acemond yeah, from time to time I am looking around on new forks. ;)

Looked like something to work with, can't test myself currently so I don't know if it works now.
Waiting for feedback 👍

[2020-07-25 12:03] Acemond commented on #83
Well it suffered two main issues, first it would only display the first image from the preview video (but that might be the library issue from my side), but more importantly there was an issue between the preview and the photo where if the length on the video overlapped the moment where it would ask for the photo it crashed because it cannot gain access to USB still in use. The problem is that act

[2020-07-25 13:47] andi34 commented on #83
Thanks for the information! There's some parts which could be handled different, not sure if this could help with the performance.

#### Another way

Comment2

Comment 3

https://github.com/couz74/photobooth/commit/4b5ba4c797571e45214b3cc040fe229ed605ba89

[2020-07-25 17:13] andi34 opened #85 "Commands destroyed on 2nd save if input contains quotes"
**Describe the bug**
E.g. if you add `--camera "my camera"` to take picture command it'll save it.
Config looks like:
`gphoto2 --camera "my camera" --capture-image-and-download --filename=%s`

If you now open the Adminpanel again, the input after the first `"` will be lost.
Config now looks like:
`gphoto2 --camera `

This bug will be fixed on next release.

https://github.com/andi34/photobooth/com

[2020-07-29 17:45] andi34 commented on #85
v2.7.2 released

[2020-07-29 17:45] #85 closed, assigned to andi34

[2020-07-29 17:54] andi34 commented on #47
**Ready to use packages**
- [photobooth-2.2.7-2.zip](https://github.com/andi34/photobooth/files/4996557/photobooth-2.2.7-2.zip)
- [photobooth-2.2.7-2.tar.gz](https://github.com/andi34/photobooth/files/4996556/photobooth-2.2.7-2.tar.gz)

  - Based on: https://github.com/andi34/photobooth/commits/de67782876accd2ebdf7a5c2c39c3fcfad6b673d

    Includes bugfixes from v2.7.2

- [photobooth-2.2.7-1.zip](

[2020-07-29 18:45] andi34 opened #86 "Community @ Telegram"
Questions? Need help? Feedback? --> https://t.me/PhotoboothGroup

[2020-07-30 15:23] ChrisNi91 opened #87 "white banner crashes userinterface"
Hey Andi,
I have a white banner crashing the userinterfaces since a couple of days. This appeared without any error messages or changes from me side.

I tried severel things via adminpanel but nothing really worked. What I did so far:

1) Changing the color, theme and background pictures
2) activating and deactivating of any kind of panels (e.g. fork banner)
3) I deleted the whole CSS Folder und r

[2020-07-30 15:40] andi34 commented on #87
You're using v2.7.2?

[2020-07-30 16:00] ChrisNi91 commented on #87
Jap, I do.

[2020-07-30 16:31] andi34 commented on #87
Could you please see if zooming fixes it?
Press Ctrl and scroll on your mousewheele to zoom in, maybe the background doesn't match your screen resolution?

If that doesn't work, guess you're using /var/www/html as root of Photobooth, open a terminal and type the following:
[code]
Also, if exist
`sudo rm /var/www/html/admin/config.json`

[2020-07-30 16:34] andi34 commented on #87
And if you're interested:
https://t.me/PhotoboothGroup

[2020-07-30 17:06] andi34 commented on #87
And another thing: try from a private-/incognitotab or delete your browsers cache - sometimes the browser cache can cause some trouble after changes.

[2020-07-31 10:33] ChrisNi91 commented on #87
Hey Andi,

thank you very much for your fast reply.

It seems that your last suggestion works out. By using an incognito tab or deleting the cache the benner dissapear.
I'm still a bit confused that it happend suddendly and simulatinously on both devices (Laptop and Android tablet). But I guess I'm fine now.

Do you see any solution to fix that software side?

[2020-07-31 12:03] andi34 commented on #87
Great to hear it works now.
Atm there's no solution known to me which could be implemented and would declare it as browser issue. But I'll keep my ears and eyes open if there's anything we can do Photobooth side.

[2020-07-31 12:03] #87 closed, assigned to nobody

[2020-08-01 08:55] andi34 commented on #47
Someone able to test the following package while accessing Photobooth from ipad2?

- [photobooth-SNAPSHOT.20200801085310032.zip](https://github.com/andi34/photobooth/files/5010040/photobooth-SNAPSHOT.20200801085310032.zip)

- [photobooth-SNAPSHOT.20200801085310032.tar.gz](https://github.com/andi34/photobooth/files/5010041/photobooth-SNAPSHOT.20200801085310032.tar.gz)

[2020-08-01 16:56] jacques42 commented on #47
I'm on it - anything particular you want me to pay attention to ?

btw happy to help maintain this package, let me know how I can help more.

[2020-08-01 17:12] andi34 commented on #47
@jacques42 Would be good to know if it works without issues. If yes we can skip the seperate branch and use one main branch again :) it's based on https://github.com/andi34/photobooth/commits/add-build-pipeline

Andreas Remdt added a transpiler :)

[2020-08-01 22:16] jacques42 commented on #47
@andi34 it's not working out of the box. Text content / translations do not show, In buttons I see empty text fields . On the admin screen I get to see the component text placeholder name (again, not even english).

I may be wrong but looks like as if the Translator class crashes on iPad2. I will do some debugging and see if I can find out what's going on.

[2020-08-02 07:41] andi34 commented on #47
@jacques42 thanks for testing!
Could you please enable dev mode in Photobooth and check the browser console for errors?
https://www.lifewire.com/activate-the-debug-console-in-safari-445798

[2020-08-02 08:07] andi34 commented on #47
@jacques42 you can also join https://t.me/PhotoboothGroup if you like to talk about the issue.

[2020-08-02 21:05] jacques42 commented on #47
I found that Safari 9 throws the following error from `translator.min.js`
[code]
After a bit of digging, it looks to me that the root cause may be iOS 9 / Safari 9 did not yet implement the fetch() API ([Fetch API compatibility matrix](https://developer.mozilla.org/de/docs/Web/API/Fetch_API#Browserkompatibilit%C3%A4t))

There is a polyfill available that from a very first glance could be a solutio

[2020-08-03 18:13] andi34 commented on #47
Another one to test which hopefully fixes it
- [photobooth-SNAPSHOT.20200803181225859.zip](https://github.com/andi34/photobooth/files/5017577/photobooth-SNAPSHOT.20200803181225859.zip)

- [photobooth-SNAPSHOT.20200803181225859.tar.gz](https://github.com/andi34/photobooth/files/5017578/photobooth-SNAPSHOT.20200803181225859.tar.gz)

[2020-08-03 22:10] jacques42 commented on #47
@andi34 @andreasremdt I've tested the [whatwg-fetch](https://github.com/github/fetch) polyfill in `simple-translator` as provided in above snapshot - works great on iOS 9 / iPad2, thanks a  million.

I found one more small thing to be adjusted, in order to make it work with Photobooth on iPad2.

There seems to be an [Javascript ES6 TypeError in Safari & IE](https://stackoverflow.com/questions/4597

[2020-08-04 07:44] andreasremdt commented on #47
Hey @jacques42, thanks for the interesting feedback. Indeed, iterating over a NodeList using `forEach` is not something older browsers support. Since this is a rather small change, I will update Simple Translator today and then update the PR with the fixed version. That should fix it

[2020-08-04 12:19] rover1982 commented on #83
Hi ;)
I'm not a pro with this git and raspberry thing- so please excuse eventually stupid questions.
It's quite different to c and embedded system programming ;)

So- you photobooth is great. There's just a few problems i have:
-Using an EOS60 D/ Taking pictures works fine
-Remote preview does not work with chromium ( camera doesn't get command, the canon normally makes a click when starting
  the

[2020-08-04 12:26] andi34 commented on #83
Preview by device cam only used the device cam, e.g. tablet camera, smartphone camera or raspi cam.
So if we like to use the preview from gphoto we have to disable all other preview options to prevent issues. This is done on save.

This is only WIP and needs to be adjusted in future, it's not even tested by myself as I don't have a camera with that feature atm.

It's atm up to the community to imp

[2020-08-04 15:13] andi34 commented on #47
@jacques42 [photobooth-2020721710.zip](https://github.com/andi34/photobooth/files/5022886/photobooth-2.8.0-alpha-2020721710.zip)
[photobooth-2020721710.tar.gz](https://github.com/andi34/photobooth/files/5022887/photobooth-2.8.0-alpha-2020721710.tar.gz)

[2020-08-04 21:31] jacques42 commented on #47
Yeay - works like a charme 🥇 thank you so much for going that extra mile !

There is two small changes please to be considered - have a look at [commit 0e9415e77be6e558116c6d02510fd769b45c8e98 ](https://github.com/jacques42/photobooth/commit/0e9415e77be6e558116c6d02510fd769b45c8e98)

First change is to make translations also work on the admin page - adjusted URL to the whatwg-fetch polyfill module

[2020-08-05 03:10] andi34 commented on #47
Thanks for the finding!
About the background:
You've tries on an incognitotab? Sometimes the browser cache can cause some trouble.

[2020-08-05 04:00] andi34 commented on #47
Fixed the whatwg-fetch path also on other pages:
[photobooth-SNAPSHOT.20200805035943339.zip](https://github.com/andi34/photobooth/files/5026035/photobooth-SNAPSHOT.20200805035943339.zip)

[2020-08-06 06:09] firesta666 commented on #12
Hallo alle zusammen,

ich nutze die Photobooth schon seit über 1 Jahr und bin immernoch sehr begeistert.

Nun habe ich auf meinem PI4 8GB das Problem, das mit auf der Hauptseite die Bildfilter an der rechten Seite nicht eingeblendet werden, sondern nur nach dem erstellten Bild. Im Adminbereich habe ich es aktiviert: Bildfilter erlauben.
Woran kann das liegen? Beim meiner alten Version und so auf d

[2020-08-06 06:55] andi34 commented on #12
@firesta666 vorher den Filter auszuwählen ist nicht mehr möglich (Ausnahme: einen definierten Filter immer anzuwenden), nur noch anschließend - dann sieht man auch direkt die Vorschau bevor das Bild abgespeichert wird in der Datenbank. Hat den Vorteil, dass du explizit am gemachten Bild einen geeigneten Filter aussuchen kannst und nicht ins blinde einen auswählst.

[2020-08-06 11:02] pichapee opened #91 "Missing Units"
If you want to crop your picture for printing, you can adjust the picture heigth and length.
But there is no unit, so you don't know what the value stands for.

Request: Add missing Value e.g:  px, mm, cm

[2020-08-06 12:33] andi34 commented on #91
Thanks for reporting. I'll take a look at it sometimes this week. 👍

[2020-08-06 18:14] #91 closed, assigned to andi34

[2020-08-08 20:55] andi34 commented on #47
neues update, "whatwg-fetch" auf version 3.4.0 upgedated.
[photobooth-SNAPSHOT.20200808205436739.zip](https://github.com/andi34/photobooth/files/5046199/photobooth-SNAPSHOT.20200808205436739.zip)

[2020-08-09 14:27] andi34 commented on #27
User collection can be found here: http://andi34.github.io/userprojects.html

[2020-08-10 21:51] jacques42 opened #93 "Remote Buzzer Server"
**Is your feature request related to a problem? Please describe.**
In a scenario where the Raspi based webserver serves photobooth over WLAN to a remote display screen (say a browser on a WLAN-connected tablet), the approach to trigger via a local access key does not work. Also, to trigger via a simulated local "[button press" script approach](https://github.com/andreknieriem/photobooth/wiki/FAQ#c

[2020-08-10 21:52] jacques42 commented on #93
### Feature - Remote Buzzer Server

*************
Configuration
*************
Check photobooth admin settings area for subsection "Remote Buzzer" and detailed settings. Set "Raspberry Pi Pin Number" to 0 (zero) for to disable GPIO monitoring functionality.

**Make sure to set the IP address of the Photobooth web server in the admin settings**

For debugging switch on dev settings in photobooth. Se

[2020-08-13 18:59] ozke86 opened #95 "Externer Blitz über raspberry ansteuern"
Hi
Erst Mal tausend Dank für dein Projekt !

Ich habe leider eine Lichtschwäche Nikon p900
An der ich keinen externen Blitz anschließen kann
Jedoch hab ich einen externen Blitz/Fotoleuchte von neewe!
Mit sync (Klinke Anschluss)

Ist es möglich ein Signal vom Klinke Anschluss des pi's zu schicken das der neewer Blitz verarbeiten kann ?
Natürlich übers das Webinterface bearbeitbar ?

Wir haben am 26

[2020-08-13 19:55] andi34 commented on #47
https://github.com/andi34/photobooth/releases/tag/v2.8.0

[2020-08-13 19:55] #47 closed, assigned to nobody

[2020-08-13 20:42] andi34 commented on #95
Hey!

Tut mir leid, da ist mir kein Weg bekannt zur Zeit.
Ich lasse das als Feature request gerne offen, falls wer anderes Lust und Zeit hat sich das anzuschauen. Ich habe noch ein paar andere Features in Planung um welche ich mich erst einmal kümmern werde.

Es wäre nur schön wenn das Template für die Feature request benutzt wird:
https://github.com/andi34/photobooth/blob/dev/.github/ISSUE_TEMPLA

[2020-08-21 06:31] Nie-Oh commented on #95
Hallo,

also eine der Blitzsteuerung über den Raspi stelle ich mir schwer vor. Der Blitz muss ja auch mit der Kamera Syncron sein usw.
Das einfachste wäre, den Blitz über eine Fotozelle auszulösen. Schau mal bei e...y oder a....on nach Servo Blitzauslöser. Das ist am einfachsten und schnell umgesetzt. Eventuell hat den Blitz schon solch eine Funktion.

Gruß
Steffen

[2020-08-21 06:39] Nie-Oh opened #97 "Optional: Raspberry Pi (HQ) cam at install choosable"
Hallo Andi,

Danke für die tolle Arbeit und ständige Weiterentwicklung. Ich hätte nie gedacht, das man an einer Fotobox immer noch ein neues Feature benötigt.

Heute habe ich einmal eine Bitte:

Es wäre toll, wenn man im Setup zwischen GPhoto und Raspbery Cam wählen könnte.
Wenn man die RaspiCam verwendet, muss man doch kein gPhoto installieren.

Ausserdem könnte man dan auch gleich die Befehle zu

[2020-08-21 10:26] andi34 commented on #97
Ich schau mir das an sobald ich Zeit habe, hab auch schon eine Idee dazu.

Für künftige Feature requests:
Bitte immer das Feature request template benutzen :)

[2020-09-12 09:37] andi34 commented on #64
**Photobooth joined Crowdin as localization manager!**

Translating Photobooth is easier than ever before!
Create an account on Crowdin and apply as translator on  https://crowdin.com/project/photobooth

Your language is missing? Let me know and I'll add it to the project 😊

Best regards

Andi

[2020-09-13 20:17] #93 closed, assigned to nobody

[2020-09-16 07:06] badyl00 opened #110 "Polish translation"
**Missing language**
Polish

**Additional context**

[2020-09-16 08:29] andi34 commented on #110
https://crowdin.com/project/photobooth/pl#

Please join as Translator.

Thanks for your request ☺️

[2020-09-16 12:48] andi34 commented on #110
Will be added once translation is at least 70% completed.
If you have questions please let me know. Thanks a lot for your contribution!

[2020-09-21 09:47] badyl00 commented on #110
I added translations. All of it its made on computer and must check it on
working hardware (raspberry). It is possibile to emulate aplication on
computer (windows) to check translations and functions ? I don't know if Polish characters will be displayed correctly. Thanks.

[2020-09-21 19:55] andi34 commented on #110
Hey!
Thanks a lot! Will take a look at it later this week.
I can send you a zip with it included if you like. ~~On windows there might be an issue because of simple-translator having an `@` in the path, need to investigate. In general~~ You can also setup an apache Webserver with php enabled on Windows.

https://youtu.be/5Ta1NE1ugqE

[2020-09-24 17:47] thatonedude3470 opened #113 "Syncing photos to external drive (also backup)"
**Is your feature request related to a problem? Please describe.**
Currently there is no default way of backing up photos from the photobooth to an external drive (e.g. USB or HDD) despite manually coping them,

**Describe the solution you'd like**
My idea was to have a drop down in the admin to select a drive, then if a drive is selected a cronjob could rsync the files onto it periodically.

**De

[2020-09-25 15:33] strunki commented on #83
Hey andi34,

first of all thank you for constantly working on the possibility to make the preview happen!
I used your experimental feature to preview from a Nikon D5100 on Raspberry Pi 4B+ 4GB. It's actually starting the video and ending it after 10 seconds to allow the photograph.
When I searched your changes I first found the hard coded 10 seconds of --capture-movie that is not mentioned in any

[2020-09-25 16:42] andi34 commented on #83
Yeah, it's WIP and not my implementation. Found it on GitHub (@acemond) and made it in a nice shape to work on it further.

You should access Photobooth from your Pi and open via "localhost".

Not tested, but maybe you can replace the `localhost` inside the config. (further changes needed to access the stream via IP address?)

Command to trigger the remote preview:
`gphoto2 --capture-movie=10s --s

[2020-09-26 11:05] andi34 commented on #113
Not sure if there's a good way to do it without security impacts. I'd not like to give to much permissions to the www-data user.
What about running e.g. [freefilesync](https://freefilesync.org/) in background?
Or setting up a cron job on Linux to copy files from location a to location b?

I've been working on a solution to download the data folder as zip from disc-usage page , but not got it worki

[2020-09-26 18:13] thatonedude3470 commented on #113
Not sure how much permissions lsblk needs, but the selection could be realized with it (newer version can also export to JSON see [systeminformation](https://github.com/sebhildebrandt/systeminformation/blob/1dd402812396d35b6007b497263dc712f1c347ba/lib/filesystem.js#L754)).
The selected drive name could then be written to the/a config file and then read from a script that gets executed via a cronjo

[2020-09-27 07:19] andi34 commented on #110
![Screenshot_2020-09-27_09-18-00](https://user-images.githubusercontent.com/6080900/94358587-799d8380-00a2-11eb-8b32-69ae13febc72.png)

![Screenshot_2020-09-27_09-17-38](https://user-images.githubusercontent.com/6080900/94358588-7aceb080-00a2-11eb-966a-780ffa09528f.png)

![Screenshot_2020-09-27_09-17-13](https://user-images.githubusercontent.com/6080900/94358589-7b674700-00a2-11eb-8ee3-f0d2bcf64c0

[2020-09-27 07:20] #110 closed, assigned to nobody

[2020-09-27 09:27] andi34 commented on #113
Currently I've only limited time to work on the Photobooth and there's some stuff left on my to-do list first.
Maybe you've time to work on a solution?
Else I'll take a look at it at some point later.

Once there's something ready to test yes :)

[2020-09-27 18:40] thatonedude3470 commented on #113
Sure, understandable. I'll take a spin at it and open a PR once it's stable :)

Really looking forward to it! Guess it will come with some password option?

[2020-09-30 15:53] thatonedude3470 commented on #113
Tested on a fresh Raspberry PI install and it worked without any issues. Synced all the files in data folder to a USB stick.
Only issue I could see for now is that the cronjob gets added to root and thus the script called by root, due to the install script being executed as root.
The script works without root privileges, so maybe we could/should redirect the crontab call to another user?
But for n

[2020-10-31 16:30] andi34 commented on #113
https://github.com/andi34/photobooth/pull/125

[2020-11-04 17:40] andi34 opened #127 "Collage Text and Picture"
**Is your feature request related to a problem? Please describe.**

No, just a new feature.

**Describe the solution you'd like**

- [ ] Instead a 4th picture add a text and/or logo
- [ ] On 2x4 + Background image place text and/or logo below 4th picture

**Describe alternatives you've considered**

**Additional context**

[2020-11-04 18:47] andi34 commented on #97
[code]
This should work fine. Can you please test and give feedback?
I've not removed gphoto2 as it doesn't harm and makes it easy to switch to an DSLR later.

[2020-11-04 18:52] #82 closed, assigned to nobody

[2020-11-07 10:35] #97 closed, assigned to nobody

[2020-11-17 19:35] #83 closed, assigned to nobody

[2020-11-21 12:45] danielh84 opened #139 "vertical scrolling neccessary on Galaxy Tab S2 in Chroma-Key-Editing"
**Describe the bug**
With the Galaxy Tab S2 (1024x762, Device-Pixel-Ratio:2) you get an vertical scrollbar by editing pictures with chroma key (chromakeying.php?filename=20201121_125652.jpg). Maybe the main picture should be smaller to get everything on the tablet without scrolling. You cant see the "save" and "close" buttons without scrolling:
![grafik](https://user-images.githubusercontent.com/1

[2020-12-03 14:33] andi34 commented on #139
Hey and sorry for the late reply.

You can try to lower the width here:
https://github.com/andi34/photobooth/blob/3c6a7bcdc5897c727abfb06d3fc1e4afa3f67ae3/src/sass/chromakeying.scss#L23-L29

[2020-12-07 19:02] danielh84 commented on #139
width: 850px; works fine with this device.

i will try to find a css-config that it will fit to all resolutions. maybe there is a good opinion.

[2020-12-07 19:07] andi34 commented on #139
Something like

[code]
Maybe?

[2020-12-15 13:46] GeoffreyV opened #155 "Allow to deactivate standalone picture"
**Is your feature request related to a problem? Please describe.**

It's not

**Describe the solution you'd like**

For some events, I'd like to force people to take only collage and don't want them to be able to take standalone photo.

**Additional context**

I already added some conditions and the related item in the admin panel on my forked branch and alpha tested it. I'm not sure yet how to ha

[2020-12-15 14:08] GeoffreyV opened #156 "Enhance collage display"
**Is your feature request related to a problem? Please describe.**
When using collage and standalone picture, the collage display is 90° rotated

**Describe the solution you'd like**
- [ ] Rotate collage when displaying it if necessary (2x4 and 2x4BI for example)

- [ ] Not display twice the pictures for collage where some photos are duplicated (2x4 for instance)
_The collage is optimized for prin

[2020-12-15 14:16] jacques42 commented on #155
A possible approach would be to key off the new admin panel setting for "collage only" in the remote button Server Script. If the setting is active then always emit a collage trigger event, also for short button press. Let me know what would look like help, and I'm happy to look into it. Should be fairly straight forward.

One other thought and maybe you got it already covered - the admin panel sh

[2020-12-19 20:32] andi34 commented on #139
@danielh84 can you try from `feature/livekeying` branch?

[2020-12-21 18:36] danielh84 commented on #139
no, does not work. Tested with classic and modern styling

[2020-12-23 10:14] #113 closed, assigned to nobody

[2020-12-30 17:59] andi34 commented on #156
Thanks for your suggestion, I'll try to find a solution

[2020-12-30 22:18] andi34 commented on #156
Please take a look at https://github.com/andi34/photobooth/pull/163, it'll rotate the sub-pictures if needed and also rotate the final collage if needed.

[2020-12-31 11:24] Hubert-73 opened #164 "More Hardwarebuttons for Photobooth"
I would like to make the following suggestion:

Please integrate the option to select multiple buttons.  For example: single photo, collage, print, etc.

[2021-01-02 21:50] #95 closed, assigned to nobody

[2021-01-02 23:39] #45 closed, assigned to nobody

[2021-01-03 18:40] lasolco commented on #164
I have a same idea. I will create a script...

[2021-01-03 18:46] lasolco opened #166 "Collage - retake a single picture"
Hi, I noticed during a collage a nice new feature.

For example, you do 4 pictures during the collage, but during the 2nd picture a mistake took place. So it would be great to have the possibility to retake the picture or to request the user to accept a picture for the collage.

I would like to suggest to add the possibility to request the user after each picture of the collage to acknowledge the

[2021-01-03 19:03] andi34 commented on #166
Hey @lasolco !
Thanks for your suggestion. I am about to rework some code of the collage creation and will take a look on your idea once I've more time (there's some other stuff on my to-do-list too which I need to finish first).

For future feature request(s) please use the feature request template.

Best regards

Andi

[2021-01-03 19:39] jacques42 commented on #164
@lasolco would you mind to check how to make this enhancement in the `src/js/remote_buzzer.js` script ? @Hubert-73 currently is using this script and it should be fairly straight forward to add monitoring for two more RPIO pins. The collage trigger via a separate PIN should be simple to add in, along with a logic to disable long-press for collage if a second button is connected. Notificaion via io

[2021-01-17 19:12] #127 closed, assigned to nobody

[2021-01-23 16:59] jacques42 commented on #164
Bump. More people are asking for additional HW buttons, I.e to allow a clean Raspi shutdown.

[2021-01-23 22:31] lasolco commented on #164
Hi,
I suggest the following style. I'm sorry, I didn't integrated it in your code. I just created a new Python File, which is always started in runtime. In my opinion, it is much more easy and flexible. So you can also create shortcuts or buttons for shutdown and everything else.

Please use the attached script.... writing it down here doesn't work
-------------------------------------------
**`#

[2021-01-23 22:38] lasolco commented on #164
Danke für das Editieren. Ich war gerade selbst dabei :D

[2021-01-28 18:23] andi34 commented on #156
Fixed by https://github.com/andi34/photobooth/pull/163,
On 2x4 displaying the same 4 images twice is what we want (not changed).

[2021-01-28 18:23] #156 closed, assigned to nobody

[2021-01-28 18:35] andi34 commented on #139
After https://github.com/andi34/photobooth/pull/159 you're allowed to use your custom style

Needs all of them to work (can be copy of existing files):
[code]

[2021-02-07 08:33] andi34 commented on #166
Started working on it.

![ezgif-4-93153365c4ae](https://user-images.githubusercontent.com/6080900/107141155-422fc500-6927-11eb-8e2f-971eaa4c5c9d.gif)

Todo:
- don't repeate picture
- delete old picture to take a new one

[2021-02-07 12:33] andi34 commented on #166
Will be included in next release

[2021-02-07 12:33] #166 closed, assigned to andi34

[2021-02-07 15:59] jacques42 commented on #166
Did you get to test if this also works with an active RemoteBuzzer integration ? Let me know in case not and I'll have a look

[2021-02-07 16:52] andi34 commented on #166
No, would be great if you're able to test. But I have to push one fix later.

[2021-02-07 18:55] andi34 commented on #166
![ezgif-4-cb1f11611c61](https://user-images.githubusercontent.com/6080900/107156401-61a60c80-697e-11eb-8923-dff7fd25480b.gif)

[2021-02-16 17:59] DIY89 opened #182 "Rotary Encoder for Website Control"
Hi Andi,

da meine Photobox kein Touchscreen enthält würde die Website gerne mit einem Druck-Dreh-Taster bedienen wollen.
In der vorherigen Version habe ich ein Sock-Server(nodejs) eingebaut der hardwareseitig die Signale einliest und an den Client (Website) Befehle (links/rechts/gedrückt) sendet.

Die Befehle habe ich genutzt um von einem zum anderen benachtbarten Button zu springen.
Beim Aufruf

[2021-02-16 20:00] jacques42 commented on #182
Hi @DIY89 - thank you for the idea and I like it a lot. I think we should add it in as base functionality. And this idea could also work in a scenario with one, two or three distinct buttons -  i.e. one button for left, another one for right and one more for press. Or in a a scenario with one button where short press moves focus "to the right" - this way one can cycle through UI - and a longer pre

[2021-02-17 09:47] jacques42 commented on #164
This feature will start become available in PB3 as part of Remote Buzzer.

[2021-02-17 09:48] jacques42 commented on #182
Hi @DIY89 wenn du willst komm in unseren Telegram Channel mich würde auch interessieren welchen Rotary Button du verwendest

[2021-02-17 10:24] DIY89 commented on #182
Ihr könnt mich gerne in den Channel aufnehmen.

[2021-02-17 10:36] DIY89 commented on #182
Den Druckdrehtaster habe ich verwendet: https://www.reichelt.de/drehimpulsegeber-15-impulse-30-rastungen-vertikal-stec11b04-p73914.html?&nbc=1

[2021-02-19 15:37] DIY89 commented on #182
I had tried to integrate the sock server in the existing 'remote-buzzer-server' without success like I wrote before. I would prefer to implement an option for the art of remote-control (push-buttons, rotary-encoder, touch). To avoid the detour via python the following libary could be used (https://www.google.com/url?sa=t&source=web&rct=j&url=https://github.com/cruepprich/node_rotary&ved=2ahUKEwiEg

[2021-02-24 08:27] andi34 commented on #64
Translation currently not possible because of a big non-public source rework for next release. No ETA. Translation on crowdin will be possible again as soon as possible.

[2021-02-28 19:02] andi34 commented on #139
Any progress on the css changes to not affect all resolutions?

[2021-02-28 19:03] andi34 commented on #64
Translation possible again. Language files have been updated for upcoming v3.0.0.

[2021-03-01 12:59] #155 closed, assigned to nobody

[2021-03-02 18:40] jacques42 commented on #182
@DIY89 I pushed branch [v3/hardwarebutton-rotary](https://github.com/andi34/photobooth/tree/v3/hardwarebutton-rotary) which has a well working base version of a rotary integration. Have a look please and I'd appreciate if you could do some testing. Please also check the respective [FAQ section](https://github.com/andi34/photobooth/blob/v3/hardwarebutton-rotary/faq/faq.md#can-i-use-hardware-button-

[2021-03-07 16:52] jacques42 commented on #164
v3 now implements separate buttons for picture, collage and shutdown. Also v3 implements a rotary encoder control - this one is extremly nice, one can operate PB with literally one knob / button.

Next buttons will be "print" and "QR code".

[2021-03-08 12:06] jacques42 commented on #164
Hardware button support for PRINT added - PR https://github.com/andi34/photobooth/pull/202

[2021-03-08 14:01] jacques42 opened #204 "QR code URL does not consider subfolder installation"
**Describe the bug**

Generating the QR code, the URL assumes that Photobooth always is installed in the `/var/html/www` folder (document root of the webserver). Installing in a subfolder (i.e. `/var/html/www/photobooth`) QR code URLs won't work

**To Reproduce**
Steps to reproduce the behavior:
1. Install in a subfolder
2. Go to dev mode, take a picture
3. Generate QR code
4. Try URL from QR code

[2021-03-08 15:53] andi34 commented on #204
[code]

[2021-03-08 15:55] andi34 commented on #204
Or via Webinterface.

Or does it conflict with the remotebuzzer?

[2021-03-08 17:12] andi34 commented on #204
Could you try:

[code]

[2021-03-10 19:29] #204 closed, assigned to jacques42

[2021-03-13 08:33] andi34 commented on #64
@thymon13 you like to take a look at the french translations for v3?

[2021-03-13 15:38] stefanglasner opened #206 "FAQ and Manual Button in Backend behind the Login"
I have one more suggestion for the backend.
Currently the FAQ and the manual can be accessed without logging in.
In the interests of simplifying the party atmosphere who want to look at the gallery or download their photos, I don't think that's so good.
I would put the two buttons FAQ and Manual behind the registration so that only the access to the gallery is possible without logging in.

[2021-03-14 22:07] dnai92 opened #207 "Admin panel config "Preview mode" is missing"
Hi Andi,

at first thank you very much for your nice work!

But as describet at your FAQ, I can´t see the "Preview" mode in the admin panel.

Greeting, Dani

[2021-03-14 22:36] #207 closed, assigned to nobody

[2021-03-14 22:37] dnai92 commented on #207
I´ve choosed the development version at installation and now it works :)

[2021-03-16 17:52] DIY89 commented on #182
Hallo,

it's great to see what you're doing for the rotary-encoder function.
But i tried to get the feature running on my raspi. I still struggling with cors exception.

The socket-server seems to run when i check the logs.
`pi@raspberrypi:/var/www/photobooth/data/tmp $ cat remotebuzzer_server.log`
`Remote Buzzer Server [2859]: Server starting on http://127.0.0.1:14711`
`Remote Buzzer Server [2859

[2021-03-16 18:23] andi34 commented on #182
@DIY89 can you add the real IP address inside the Adminpanel and access it though the real IP?

Instructions:
https://github.com/andi34/photobooth/blob/21070854fecbb70bc3377ecf9891681f1e21119d/faq/faq.md#can-i-use-hardware-button-on-my-raspberry-pi-to-take-a-picture-

[2021-03-16 20:47] DIY89 commented on #182
I'd tried several IPs:
`$config['webserver']['ip'] = '127.0.0.1';` --> Access via Raspi Desktop --> Chrome Browser
`$config['webserver']['ip'] = 'localhost';` --> Access via Raspi Desktop --> Chrome Browser
`$config['webserver']['ip'] = '192.168.1.46';` --> Access from my PC (192.168.1.20) --> Chrome Browser

Nothing is working

[2021-03-16 21:00] andi34 commented on #182
@jacques42 you've modified your server config?
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowOrigin

I've not had time yet to test myself.... 😅

[2021-03-16 21:31] QuoterMusic opened #208 "QR Code separat über Drucker/Bondrucker ausgeben & Bildausdruck Anzahl Einstellmöglichkeit"
**QR Code separat über Drucker/Bondrucker ausgeben**

Es wäre schön, wenn es die Möglichkeit gäbe, den QR Code nicht neben das Bild zu Drucken, sondern z.B. über einen Bondrucker separat auszugeben.

Format des Ausdruck was ich mir vorstellen würde wäre wenn machbar:
_Eventname
Bild
QR-Code
(Anpassbarer Text) für ggf. Passwort für Zugriffschutz_

So wäre es möglich die Bilder nach dem Event auf ei

[2021-03-16 21:38] DIY89 commented on #182
The settings in the `remotebuzzer_server.js` seems to be correct.

`const ioServer = require('socket.io')(config.remotebuzzer.port, {
    cors: {
        origin: 'http://' + config.webserver.ip,
         methods: ['GET', 'POST']
    }
});`

[https://socket.io/docs/v3/handling-cors/](https://socket.io/docs/v3/handling-cors/)

It would be helpfull to have a feedback from the server side if the socke

[2021-03-16 22:35] jacques42 commented on #182
I can't test this, in my setup it works like a charm. I do use Firefox or Chrome on client-side.

I understand the error message as the CORS permission is for say 127.0.0.1 but the request origins from server localhost. That does not match and the error occurs. But I do not know on why the origin server name is localhost in the header this is weird.

Can you try to modify 'src/js/remotebuzzer-serv

[2021-03-17 19:45] jacques42 commented on #182
I changed the cors setting to permit any origin and pushed it to the branch (commit https://github.com/andi34/photobooth/pull/202/commits/2e7f76d31bbc88b02a29343e001a28a78d8c05d5)

Still works like a charm on my setup. Note that if the server is not yet fully started, the client might throw one or two CORS error message in the console log. As soon as the server is fully started up, the errors stop

[2021-03-17 22:00] DIY89 commented on #182
I tried all your suggestions, but still have the problem.

Do you have an .htaccess file in your project folder with cors entries or do you have some special entries inside of the webserver config `php.ini`.

[2021-03-18 17:48] DIY89 commented on #182
I just tried a small socket server example on my local machine with xampp [https://github.com/DIY89/socket-server-client-example.git](https://github.com/DIY89/socket-server-client-example.git).

No cors exception occured.
Afterwards i switched to my Raspi and receive the cors exception again.

I think there is something in the Webserver Config.

I'll report.

[2021-03-18 21:23] jacques42 commented on #182
Thank you for investigating. Please consider that the socket.io webserver is established by `nodejs` - the socket.io websockets are not served by Apache or nginx. You can check this by running
[code]

I'd be interested to see the HTTP protocol exchange on the socket.io connection when the error occurs. Would you be able to do the following commands, in a setup where the server ip in Photobooth is

[2021-03-19 15:41] DIY89 commented on #182
Hi.

Now everything is working fine. Many thanks.

I just added the following to my apache2.conf
`<Directory /var/www/>`
`     Order Allow,Deny?`
`     Allow from all`
`     AllowOverride all`
**`     Header always set Access-Control-Allow-Origin "*"`**
**`     Header set Access-Control-Allow-Methods "HEAD, GET, POST, PUT, PATCH, DELETE"`**
**`     Header set Access-Control-Allow-Headers "Origin,

[2021-03-21 11:05] andi34 commented on #182
Tested on a clean install on Raspberry Pi OS with Desktop using:
[code]
The installer directly uses the `v3/hardwarebutton-rotary` branch for installation.
Also the installer on the dev branch misses `GPIO26` inside the `/boot/config.txt` which is added here (like on `v3/hardwarebutton-rotary` branch). Without the `GPIO26` configured as PULLUP the remotebuzzer Server will exit.

After reboot I've

[2021-03-21 12:54] andi34 opened #211 "feature: allow to change rgb value on Seriously.js via config"
**Is your feature request related to a problem? Please describe.**

Green screen might have a different green color, keying result depends on it.

**Describe the solution you'd like**

Allow to adjust the rgb value via config inside the Adminpanel.

**Describe alternatives you've considered**

**Additional context**

I'll take a look at once I have enough time. Making the values a config can be do

[2021-03-21 19:58] jacques42 commented on #182
Same here, completely reinstalled my raspberry from scratch, using apache. Worked just fine.

[2021-03-22 18:06] #182 closed, assigned to jacques42

[2021-03-22 18:06] #206 closed, assigned to andi34

[2021-03-23 07:08] jacques42 commented on #211
Closed via PR https://github.com/andi34/photobooth/pull/213

[2021-03-23 07:08] #211 closed, assigned to andi34

[2021-03-23 18:46] dnai92 opened #214 "Shutter release from gallery/review not working (tested with modern and classic design)"
Hi,

at first thanks for your nice fork and good work! :)
There´s an issue we can´t get solved. I don´t know if it is a problem on our setup or a common bug.

**Description:**
We use the DSLR for live preview at the countdown too.
Everything works fine, but if we want to take a photo from the review after a photo is done, it´s not releasing anymore (and there´s no "click" sound from the camera aft

[2021-03-23 18:54] andi34 commented on #214
Could you please enable dev mode and check your browser console for visible errors?

[2021-03-23 19:08] dnai92 commented on #214
![WhatsApp Image 2021-03-23 at 20 04 49 (1)](https://user-images.githubusercontent.com/19782903/112203930-5bf54500-8c13-11eb-8fde-862f3709440d.jpeg)

The DOMException immediately shows when I´ve pressed the button

[2021-03-23 20:08] andi34 commented on #214
With and without "Battery saving mode on gphoto2 live preview" ?

[2021-03-23 20:25] PVTRX commented on #214
Hey,
dnai92 and I set up the photobooth together, so i would give a short answer..
Without Battery saving mode.
btw thanks for replying so quickly!

[2021-03-23 21:10] andi34 commented on #214
Could you please test
https://github.com/andi34/photobooth/commit/287ded08a31eba1a1c2b7cd1405cc22db7a94251 and report back?

[2021-03-24 13:34] PVTRX commented on #214
I copied everything exactly, but unfortunately with no success. The same bug report appears on Chromium.

    // Take Picture Button
    $('.takePic, .newpic').on('click', function (e) {
        e.preventDefault();

	if (config.preview.mode == 'gphoto' && !config.preview.gphoto_bsm) {
		api.startVideo('preview');
        }

        api.thrill('photo');
        $('.newpic').blur();
    });

    //

[2021-03-24 14:10] andi34 commented on #214
After adding you need to run `yarn build` again to get the used transpiled js files. You've done that?

[2021-03-24 15:26] PVTRX commented on #214
Yes, i did, but nothing really happened. Below you can see the process after i wrote the command in the console. Or did I do something wrong?

pi@raspberrypi:/var/www/html $ sudo yarn build
yarn run v1.22.5
$ npm-run-all --serial format build:faq build:gulp
$ npm-run-all --parallel format:*
$ prettier src/js/*.js --write
$ prettier {api,lib,test}/{,*/**/}*.php --write
$ prettier src/sass/{,*/**/}*

[2021-03-24 15:38] andi34 commented on #214
Looks fine to me, you're only missing `sudo chown -R www-data:www-data /var/www/html` but this shouldn't matter.

Does the same happen with gphoto battery saving mode enabled? (Currently can't test gphoto preview myself.)

[2021-03-24 19:10] PVTRX commented on #214
Thanks for the tip!
Okay with energy saving on it works, but there is a 2-3 sec delay.
Can the delay decreased somewhere?

[2021-03-25 04:28] andi34 commented on #214
Good to know that it works without bsm. To not have the delay we'll have to create the stream again right after taking the picture. Seems like there's an issue in the logic still. Maybe we need to start the stream earlier and not on button click. I'll take another look at it and let you know.

[2021-03-25 06:41] andi34 commented on #214
Could you try https://github.com/andi34/photobooth/commit/2340462b84c8f8a6a70d0832b40427cebd390eab without battery saving mode please?

[2021-03-25 13:04] PVTRX commented on #214
Ok i did and the camera makes the "klick" we want if i push the photo-button in the result window. Unfortunately we have probably adjusted something that we don´t have any preview anymore :(. We need to fix that by ourself because the browser console doesn´t shows any bugrepot. We´ll get back to you this evening.
Thanks for your immediately help!

[2021-03-25 15:24] andi34 commented on #214
You're welcome! You can also visit our Telegram group if you like

https://t.me/PhotoboothGroup

[2021-03-25 18:35] PVTRX commented on #214
We´ve fixed now the preview and everything works fine now!
Your fix was perfect :)

Btw. after processing the pic, the review gets zoomed in very strong ca. half a second. But after that the pic is shown normally and the buttons appears. Could this be fixed too? Should We open another issue for this?

[2021-03-25 18:39] andi34 commented on #214
Thanks for your reply! I'll merge the fix.

About your other issue: disable "Preload and show image during filter processing"

[2021-03-25 18:43] #214 closed, assigned to nobody

[2021-03-25 18:48] #139 closed, assigned to nobody

[2021-03-25 19:16] andi34 opened #217 ""Undefined index: ui" inside lib/config.php"
**Describe the bug**

Undefined index notice, visible inside remotebuzzer log file.

**Screenshots**

![IMG_20210325_201602_868](https://user-images.githubusercontent.com/6080900/112530642-fa65df80-8da6-11eb-8241-6711ef366b77.jpg)

**Photobooth**
- Did it work before? Not sure
- Which version of Photobooth are you using? Latest development version

**Additional context**

[2021-03-25 19:25] andi34 opened #219 "New Adminpanel is missing Version check button"
**Describe the bug**

Button not yet implemented to check for Version updates.

**Photobooth**
- Did it work before? Yes, stable2 branch.
- Which version of Photobooth are you using? Latest development

**Additional context**

[2021-03-26 22:03] jacques42 commented on #219
Needs a small number of translation updates in all languages

[2021-03-27 20:36] #217 closed, assigned to andi34

[2021-03-28 07:58] #219 closed, assigned to jacques42

[2021-03-31 18:57] jacques42 commented on #164
PR https://github.com/andi34/photobooth/pull/221 adds Rotary support for Delete button. Please read the notes for required admin panel settings

[2021-04-03 19:40] #164 closed, assigned to jacques42

[2021-04-05 18:54] jacques42 opened #230 "Execute custom script when taking picture (before / after)"
**Describe the solution you'd like**

Optional execution of a custom script on the Photobooth server machine every time when a photo or collage is triggered / completed. That script hook would allow to add in additional custom functionality based on local scripts where needed.

Maybe multiple hooks could be helpful
- Before the picture is triggered - could be used to say switch on another ambiente

[2021-04-08 20:16] jacques42 commented on #230
Feature implemented in PR https://github.com/andi34/photobooth/pull/232

[2021-04-21 20:54] jacques42 commented on #230
Closed by PR https://github.com/andi34/photobooth/pull/232

[2021-04-21 20:54] #230 closed, assigned to nobody

[2021-05-10 08:38] Metropo commented on #208
Das überschneidet sich mit einigen Ideen, die ich in der nächsten Zeit umsetzen möchte.
Auf meiner Liste steht noch
**Direkter Upload auf einen Webspace (z.B. über UMTS-Modem) und anpassung des QR codes.**
So muss sich keiner am Fotobox-Wlan anmelden
**Und beschränkung der ausgedruckten Bilder und Push-Benachrichtigung wenn das Fotopapier ausgeht.**
Damit man auch einen kleinen Canon-Selphi Drucke

[2021-05-10 10:39] andi34 commented on #208
@Metropo vielen Dank!

[2021-05-10 16:38] QuoterMusic commented on #208
@Metropo Vielen Dank

Genau so hätte ich mir das auch vorgestellt mit dem Upload.
Das mit den Push-Benachrichtigungen Klingt auch sehr Interessant.

Ich habe leider aktuell auch sehr wenig Zeit sonst hätte ich es selbst versucht umzusetzen, Es ist ja aber eh immer noch Corona daher hat es keine Eile freut mich sehr das du dich daran setzt. 👍

Beste Grüße

[2021-05-22 19:39] h4ns123 opened #240 "rotary mode AND button mode"
The rotary mode is great, but I really miss the possibility to use it simultaneously with the "normal" button mode. Especially when using a normal screen, navigating back is a bit complicated (e.g. from the Gallery) . I think an additional "one-hit-photo-button" would increase the usability value very much.

Is it possible to use different GPIO fort he rotary-encoder and the buttons?

[2021-05-22 19:44] h4ns123 opened #241 "SSID above QR-Code"
When using the QR-button after taking a photo, the SSID will be displayed above the Code. When this function is started from the gallery, the SSID is not displayed. It would be nice to add this function here as well.

[2021-05-25 22:25] jacques42 commented on #241
Closed via PR https://github.com/andi34/photobooth/pull/242

[2021-05-25 22:25] #241 closed, assigned to nobody

[2021-06-03 11:43] andi34 opened #252 "Bug: standalone gallery freeze while closing picture"
Open standalone gallery. Click on a thumbnail to see the full-size image. Close the image.
Gallery freezes.

Problem is inside the `photoinit.js`:
[code]

Rotary controller is not added to standalone gallery yet.
Rotary Controller should be disabled in standalone gallery or only be used on standalone gallery if enabled.

[2021-06-05 22:27] jacques42 commented on #252
PR https://github.com/andi34/photobooth/pull/253 fixes the crash and fully implements rotary button support - can some pls try it out ?

[2021-06-06 17:36] h4ns123 opened #254 "[FEATURE]: LED-Buzzer support"
Is it possible to provide one or more GPIO for LED in hardware buzzer? It would be pretty cool if the LED goes off during the countdown or flashes increasingly faster and faster.

[2021-06-06 17:45] h4ns123 opened #255 "Hide all buttons"
In case hardware buzzers are used without a touch screen, it would be nice to be able to hide all buttons in the preview as well (I haven't found a way to hide the "filter-button" and the "home-button")

[2021-06-10 20:04] jacques42 commented on #255
Use this switch to turn off filters, the button will be hidden and not visible.

![grafik](https://user-images.githubusercontent.com/37227800/121589664-a37fb600-ca37-11eb-9128-384652369cd6.png)

Indeed the home button currently can't be hidden. I'll look into it when I find some time

[2021-06-10 21:11] jacques42 commented on #255
PR https://github.com/andi34/photobooth/pull/256 adds a config switch to hide the home button on the results screen.

[2021-06-10 21:22] #255 closed, assigned to nobody

[2021-06-12 20:17] cjfranko opened #258 "Ability to change the global font"
Currently the font can only be changed for collage/print etc. However I couldn't font the font option in the CSS.

**Describe the solution you'd like**
Can we have the option to use a custom font for the overall look for the photobooth?

[2021-06-12 21:39] andi34 commented on #258
You can already: add and use a own custom style with your own font settings included.

Font is defined here: https://github.com/andi34/photobooth/blob/dev/src/sass/partials/_fonts.scss

And

https://github.com/andi34/photobooth/blob/dev/src/sass/partials/_basic.scss#L45

### using custom style:
Copy all `modern_*.scss` to `custom_*.scss` and make your changes or only partial.

E.g. `custom_style.s

[2021-06-12 21:44] andi34 commented on #258
Once the scss files exist insde `src/sass/` run `yarn build` to generate the css files and choose custom style in admin panel.

[2021-06-13 06:49] andi34 commented on #258
For testing, `custom_style.scss`:
[code]

[2021-06-18 15:50] #252 closed, assigned to andi34, jacques42

[2021-06-21 10:10] Raukze opened #259 "Hide security-relevant data from frontend"
**Is your feature request related to a problem? Please describe.**

I thought that the Login feature of this project will prevent others from being able to see my passwords in the config. This is why I was a little concerned when I saw that the entire config file (containing the plain text mail account pwd) is visible to anyone loading any page of Photobooth through the browser. So for me it doesn

[2021-06-23 19:42] jacques42 commented on #259
Hey - thanks for your note and I wanted to acknowledge you are spot on. As far as I can see, back when the project started it was designed for functionality, not necessarily with security first in mind. At least that's my read, I may be wrong. For this particular one I agree we should address.

I'm not necessarily a software security design expert but this then becomes nothing else but a learning

[2021-06-23 20:21] jacques42 opened #260 "Enable / disable rotary controller for standalone gallery view"
**Is your feature request related to a problem? Please describe.**

The rotary controller will both control the main booth index page and a possibly seperately shown standalone gallery view at the same time. This is conflicting. In scenario's where i.e. the standalone gallery runs on a touch screen or a mobile phone, this will be a conflict.

**Describe the solution you'd like**

Add a admin panel

[2021-06-25 06:49] #260 closed, assigned to jacques42

[2021-06-25 22:11] jacques42 commented on #240
@h4ns123 Thanks for the suggestion, I do like the idea. It however took me a while to think it through. Finally I found time to implement a first cut. Branch `v3/feature/parallel-rotary-hwbuttons` / PR https://github.com/andi34/photobooth/pull/262 implements a parallel use of hardware buttons and a rotary encoder.

Please note this is a config breaking change, when updating. Once you updated, plea

[2021-06-28 19:33] h4ns123 commented on #240
Hi jacques42! Thank you for adding the functionality so quickly! I will test the solution extensively in the next few days and give you a feedback!

[2021-07-05 19:35] #258 closed, assigned to nobody

[2021-07-05 20:48] andi34 commented on #259
@jacques42 yeah, the project was designed for functionality.
The Login feature has been added to protect pages from accessing by users, but it has never been a real security feature in view of data protection.

Sure we should improve security on the mail feature. Every idea and PR is welcome.
Maybe store the mail data in a own config file which is only used by the mail API?

[2021-07-06 18:48] h4ns123 commented on #254
As further explanation:

I use one of those big Buttons (100 mm) with a built in LED for my photobooth. At the moment I just put the LED on the 3v3 pin so that it is permanently on. The idea was to use a GPIO instead, which is set to HIGH normally and only changes to LOW during the countdown. So you would have a visual feedback when the trigger is working again.

[2021-07-06 19:09] andi34 opened #269 "Feature: Show single images from collage inside gallery"
**Is your feature request related to a problem? Please describe.**

Just a feature.

**Describe the solution you'd like**

Allow to keep single images from collage and show them inside the gallery.

[2021-07-06 19:11] andi34 opened #270 "Feature: collage: always show image after taken"
**Is your feature request related to a problem? Please describe.**

Just a feature

**Describe the solution you'd like**

Also show the image on continuous collage, also make time adjustable the image is visible after taken.

[2021-07-07 13:35] 47photography commented on #27
Hello @all!

Here is my 3. Version of the Photobooth and i think this is my final one.

Do anyone knows how i can watermark the photos? Not printing only digital.

![IMG_5959](https://user-images.githubusercontent.com/87078004/124768077-a8e9f680-df38-11eb-9d98-22742f6be091.JPG)
![IMG_5946](https://user-images.githubusercontent.com/87078004/124768086-aab3ba00-df38-11eb-999f-1a3e40417543.JPG)
![IMG_

[2021-07-07 14:18] andi34 commented on #27
To watermark you can use a "frame" which adds a watermark (instead being a frame itself) or use the text on image function.

[2021-07-07 14:39] 47photography commented on #27
@andi34 where i find text on image? i only find the option for "printing".

[2021-07-07 14:52] andi34 commented on #27
You need latest Photobooth v3 installed

[2021-07-08 11:07] 47photography commented on #27
Okay. I found it but i couldnt install the update.

git checkout origin/stable3

Here i get one error about "nothing found".

Is there option to contact you by email or so? maybe you can help to me. Im from Germany, so we can talk in german too.

[2021-07-08 12:02] andi34 commented on #27
Für die v3 empfiehlt sich eine saubere Neuinstallation.
Bei Fragen schau doch gerne in unserer Telegram Gruppe vorbei: https://t.me/PhotoboothGroup

[2021-07-09 15:17] 47photography commented on #27
Brauchen DRINGEND HILFE.  hab es in der telegram gruppe probiert aber bekomme keine antwort und die box muss heute noch zu einer party

[2021-07-11 11:11] #270 closed, assigned to andi34

[2021-07-11 18:45] h4ns123 opened #272 "Unexpected return to start page"
It happened to me a few times that no image was triggered after the countdown and the view went straight to the start page. I noticed that this happened more often when I reduced the duration of the result page to 10 seconds and started a new countdown after a few seconds.

Is it possible that the command to return to the start page persists even after starting a new countdown and prevents the cam

[2021-07-11 18:48] h4ns123 commented on #240
Hi jacques42!
I tested your solution today! However, I had the problem that pressing the buzzer is registered in the log file, but it does not trigger any reaction. The browser log says "remote buzzer client is disabled". Maybe I made a mistake during the installation?

[2021-07-11 19:34] andi34 commented on #240
Followed the steps mentioned here?
https://github.com/andi34/photobooth/blob/v3/feature/parallel-rotary-hwbuttons/faq/faq.md#can-i-use-hardware-button-on-my-raspberry-pi-to-take-a-picture

You've defined the IP Address inside the general section?

[2021-07-11 19:50] andi34 commented on #272
Please test https://github.com/andi34/photobooth/pull/273

[2021-07-11 21:32] jacques42 commented on #240
Did you do a fresh install ? I could imagine it's related to the Config file. Please delete my.config.inc.php, reload the admin panel and reconfigure from scratch. There is a new variable and if it is set to false or does not exit the client will throw the error you see.

[2021-07-13 18:47] andi34 commented on #259
Please test https://github.com/andi34/photobooth/pull/274

[2021-07-14 19:21] h4ns123 commented on #272
Hi Andi!
The camera always triggers now! Thanks! However, the view still switches to the home page right after and the new photo is not displayed...

[2021-07-14 20:01] andi34 commented on #272
Use a longer time to return to the start page :)

[2021-07-19 18:44] #259 closed, assigned to andi34

[2021-07-23 14:24] jacques42 commented on #240
@h4ns123 did you have time to look into this again ?

[2021-07-23 17:04] #208 closed, assigned to nobody

[2021-07-26 08:47] Fabian2305 opened #276 "Raspberry Pi as Access Point"
Hey,
first of all thank you very much for sharing the project.
Is it possible to use the Raspberry also as an access point to show the web interface on an Ipad e.g. without using any other networks.

PS: im new in Raspberry, so an instruction how to do it would be great.

Thank you very much

[2021-07-26 11:44] andi34 commented on #276
Hey!
Instructions can be found inside the FAQ of our Wiki:
https://github.com/andi34/photobooth/wiki/FAQ#turn-photobooth-into-a-wifi-hotspot

[2021-07-26 11:44] #276 closed, assigned to nobody

[2021-07-27 09:54] Fabian2305 commented on #276
Hey, I tryed like the instruction says, but it doesn't work.
I only get "sudo: ./setup-network.sh: command not found"
What did I do wrong?
Thank you

[2021-07-27 10:30] andi34 commented on #276
What version of Photobooth you've installed?
Sure you're trying to run the command inside the right path (/var/www/html/vendor/rpihotspot) ?

[2021-07-27 10:44] Fabian2305 commented on #276
I've installed Option 2, ist Version 3.1.0
Yes I used the right path and checked it a few times, also after reboot

Andreas Blaesius ***@***.***> schrieb am Di., 27. Juli 2021,
12:31:

[2021-07-27 11:25] andi34 commented on #276
Does the file exist?
Maybe try
`sudo bash setup-network.sh  --install-upgrade --ap-ssid="Photobooth" --ap-password="password" --ap-password-encrypt
--ap-country-code="CA" --ap-ip-address="10.10.10.10" --wifi-interface="wlan0"`

[2021-07-27 14:20] andi34 commented on #276
There's the script, you can also execute it from Desktop for example
https://raw.githubusercontent.com/andi34/rpihotspot/master/setup-network.sh

[2021-07-27 19:54] Fabian2305 commented on #276
I've tryed all your tips, but it still doesn't work and its the same error
message.
First I tested "sudo bash setup-network.sh" and the raspi answered a long
list of code examples. I tryed them all, but without success.
So I used "wget
https://raw.githubusercontent.com/andi34/rpihotspot/master/setup-network.sh"
but it says "Permission denied".
And even after reboot the error "sudo: ./setup-network

[2021-07-27 20:04] andi34 commented on #276
https://thepi.io/how-to-use-your-raspberry-pi-as-a-wireless-access-point/

[2021-07-27 20:09] Fabian2305 commented on #276
I've tryed this instruction yesterday, but without any success. Everytime I
tryed to connect a device, my mibilephone or computer says: "no IP-Adress
available" and the connection failed.

Andreas Blaesius ***@***.***> schrieb am Di., 27. Juli 2021,
22:05:

[2021-07-27 21:10] andi34 commented on #276
Maybe you start from scratch with a clean raspberry pi os installation?

[2021-07-27 21:13] Fabian2305 commented on #276
I've already tryed this a few times after I tested many different instructions on the internet. I deleted the sd card and installed everything from the beginning.

[2021-08-02 08:01] jacques42 commented on #272
Thanks for adding my suggestions into PR#273. I did some extensive testing and where I was able to reprocue the bug, now this PR seems fixes it.

@h4ns123 can you please also test this PR #273 and see if this fixes the bug for you ?

[2021-08-02 10:44] #240 closed, assigned to jacques42

[2021-08-02 11:29] jacques42 opened #284 "[FEATURE]: Enable HID keyboards as hardware buttons"
**Is your feature request related to a problem? Please describe.**

1) Using the keyboard to trigger a picture / collage, the screen needs to be locally connected to the server system. In scenario's where the screen is i.e. connected through WLAN, to trigger via keyboard does not work.

2) Many USB devices register as generic HID keyboard to the operating system.

**Describe the solution you'd lik

[2021-08-03 09:23] #272 closed, assigned to nobody

[2021-08-05 13:58] MasterJochen opened #287 "Hardware button option does not exists in admin panel"
Remote Buzzer Hardware Button feature in the admin GUI

well that does simply not exist or is wierdly hidden also my version is 2.1.0-alpha but under new it shows 2.1.0 so i tryed to update as explained here but that only showed me newest version allready installed. and one more thing in the FAQ it says install this script for hardware button but on a other page it says its not nessesary any more

[2021-08-05 14:11] andi34 commented on #287
Hey!
Have you installed from my git repo or from Andrés git repo? Sounds to me like you've not installed from my git repo.

A lot of changes have been made on v3. A clean installation is recommend!
Follow the steps mentioned here:
https://github.com/andi34/photobooth/wiki/Installation-on-Debian

After installation an up-to-date FAQ can be found via
http://localhost/faq and matches your installed P

[2021-08-05 14:13] #287 closed, assigned to nobody

[2021-08-06 22:02] joschre opened #288 "cutting lines in Collage"
**Is your feature request related to a problem? Please describe.**
In the collage 2x4 it is difficult to cut into 2 strips.

**Describe the solution you'd like**
Small cutting lines on the page top and bottom. Selectable in the admin panel.

[2021-08-06 22:14] joschre opened #289 "[FEATURE]: Collage with static picture"
**Describe the solution you'd like**
The photo box only takes 3 pictures and the 4th is static. E.g. a picture of the bride and groom or the birthday child.
The 4th picture can be selected via the admin panel.

![IMG_20210807_001743](https://user-images.githubusercontent.com/5621303/128576367-85c43e97-5821-451e-af15-bc228c973860.jpg)

[2021-08-07 05:38] andi34 commented on #288
You can do this by applying a frame once at the end of the collage. The frame can simply be a cutting line.

[2021-08-07 05:40] #288 closed, assigned to nobody

[2021-08-07 05:42] andi34 commented on #289
Thanks for the idea, it's something I can look at when I have more time.

[2021-08-09 19:19] andi34 opened #291 "[BUG]: Numbered images logic needs an update to prevent overriding existing images"
**Describe the bug**
Currently we're counting the files inside the images folder or reading
database lenght to get the image name.
We are not really checking for the next available number which could
cause that we're loosing made images.

**Example 1:**
We have 3 images: 0001.jpg, 0002.jpg and 0003.jpg
Next image-name will be named 0004.jpg
*Everything is fine here*

**Example 2:**
We have 2 image

[2021-08-16 04:34] andi34 commented on #254
Hey and sorry for the late response.
You've tried to use the Pre- and Post-command for that?
( https://github.com/andi34/photobooth/pull/232 )
You could for example run a python script with that option. Only make sure permissions are set right.

[2021-08-22 19:11] serpentes80 opened #297 "Change GPIO for hardware button"
hi there,

is it possible to change the default hardware button GPIOs?
didn'f find any config for this yet.

Greetings

[2021-08-22 20:05] andi34 commented on #297
Not through the Adminpanel because it needs adjustments inside the /boot/config.txt if you make changes to them.
But feel free to adjust them your needs here;
https://github.com/andi34/photobooth/blob/2fbdac3fdbb29d8f1a6cd466ab6b02946c72febe/config/config.inc.php#L233-L252

[2021-08-22 20:05] #297 closed, assigned to nobody

[2021-08-23 18:21] serpentes80 opened #298 "live preview during taking photo from dslr"
Hi,

is it just me or is the live preview during taking a photo from dslr not working?
preview mode is set to gphoto2, cam is taking pictures, just no preview :(

[2021-08-23 18:43] andi34 commented on #298
Confirmed working by some German user.
You need to follow the steps mentioned in the FAQ in detail. Also make sure Liveview is supported by GPhoto2 for your camera.

### How to use a live stream as background at countdown?

_(step 1 and 2 in the FAQ, don't matter here)_

3. A preview can also be done using the video mode of your DSLR (Linux only), but only works if you access Photobooth via [http:

[2021-08-23 18:43] #298 closed, assigned to nobody

[2021-08-23 19:02] andi34 commented on #298
Liveview must be supported for your camera model, [check here](http://gphoto.org/proj/libgphoto2/support.php)

[2021-08-24 06:58] serpentes80 commented on #298
worked.
thanks :)

[2021-08-24 07:40] andi34 commented on #298
Glad to hear! If you have further questions you can also join our telegram group
https://t.me/PhotoboothGroup

(Don't be scared, were talking in German often but English is fine as well :) )

[2021-08-31 16:01] Magicdaniel opened #300 "[BUG]: Collage Hardware Button"
Hi, i think i found a bug with the hardware Button for the Collage.

I have two hardware buttons. One for the Picture mode and one for the Collage mode.
If i press the collage button, the first picture will be taken. Because i disabled the automatic mode i have to press again for the second picture, but nothing happens.
At the debug panel this message will pop up:
buttonActiveCheck error state - r

[2021-09-01 15:48] serpentes80 commented on #254
i wrote 2 python scrips
[code]
this for switching the led on

and
[code]
for switching the LED off

then I'm running `python /home/pi/led_pin_18_ein.py` as post-
and `python /home/pi/led_pin_18_aus.py` as post photo command

works so far :)

[2021-09-01 16:23] serpentes80 opened #306 "USB Sync funktioniert nicht"
Hallo

der USB Sync der Fotos läuft bei mir nicht.

habe den Stick nun auch schon "extra" als "PHOTOBOOTH" formatiert und so im Admin Backend eingetragen...
im Log erscheint immer nur:

[ 2021-09-01T13:38:05.251Z ]:  Sync-To-Drive server [996]: USB target  P H O T O B O O T H
[ 2021-09-01T13:38:05.262Z ]:  Sync-To-Drive server [996]: PID file created [data/tmp/synctodrive_server.pid]
[ 2021-09-01T

[2021-09-01 19:00] jacques42 commented on #306
Did you say _yes_ when running the _install-raspian.sh_ Script during the installation of Photobooth ? In case not pls try

[code]
To fix it

[2021-09-01 19:20] serpentes80 commented on #306
danke :)

[2021-09-01 19:20] #306 closed, assigned to nobody

[2021-09-08 05:26] firesta666 opened #309 "Picture from the Photobooth are not created"
Hello all Photobooth users,

please help me. i reinstall the v3 version of the Photobooth and all works fine, only pictures will not displayed after the countdown. The countdown runs fine, the camera take the image but the webpage will not display it. I login to the shell and run the command with the user the webserver is running, the picture will create and rename as the gphoto2 command tell this

[2021-09-08 05:47] andi34 commented on #309
Have you checked the camera log inside the Debugpanel for issues? I guess it's an permission issue. http://localhost/admin/debugpanel.php

You've updated by hand or did a clean installation (suggested for v3 as a lot of things changed between v3 and older versions)?

I'd suggest running the following commands:
[code]

If still not working:
Maybe you like to join our telegram group? There's a big c

[2021-09-08 05:51] andi34 commented on #309
Here's the telegram group: https://t.me/PhotoboothGroup

[2021-09-08 06:13] firesta666 commented on #309
Hello Andy, i will try the debug mode first. Sorry for overseen it :-(.

The debug mode display after take a picture the errors or how i can find them?

I install both versions, manual and the .sh script, same issue with both.

[2021-09-08 06:51] andi34 commented on #309
And maybe you'll tell the issue visible inside the Debugpanel?

[2021-09-09 11:10] #309 closed, assigned to nobody

[2021-09-14 18:28] msmedien opened #310 "[FEATURE]: Resize and positioning from single photos"
**Is your feature request related to a problem? Please describe.**
I want to use more specific frames for single shot photos. A bit smaller and rotated for a few degrees. Like in the attached example. But i cant find any options for this. Right now i'm only able to use fullsize photos and rotate them.

**Describe the solution you'd like**
The best solution would be some options for the photosize a

[2021-09-19 17:13] mhellmeier opened #313 "yarn build fails on macOS"
**Describe the bug**

The project can't be build on macOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. `yarn install`
3. `yarn build`
4. See error

**Expected behavior**

yarn should also work.

**Environment (please complete the following information):**
 - OS: macOS Big Sur 11.5.2
- yarn version: 1.22.11
- node version: 10.24.1

**Additional context**

xcode-select

[2021-09-19 17:18] mhellmeier opened #314 "Add config option for font size"
**Is your feature request related to a problem? Please describe.**
The font is very hard to read on high-resolution screens. This mainly includes buttons like "Take picture", "Gallery" etc. or the text under the QR-code.

**Describe the solution you'd like**

Would be nice to add a config option to change the overall font size.

[2021-09-19 19:33] andi34 commented on #314
There's already an option inside the User-Interface section called `Default font size`.

For everything else you could add a own theme or using `private/overrides.css` to make small adjustments.

[2021-09-19 19:33] #314 closed, assigned to nobody

[2021-09-19 19:35] andi34 commented on #313
No way for me to reproduce, no access to a Mac.
You're able to fix it?

[2021-09-19 19:47] mhellmeier opened #315 "Add close button to QR-code modal"
**Is your feature request related to a problem? Please describe.**

It isn't possible to easily close the QR-code modal. The current solution isn't very user friendly.

**Describe the solution you'd like**

Add close button.

[2021-09-19 20:30] mhellmeier opened #317 "[BUG]: button size in collage process"
**Describe the bug**

When starting the collage creation process, the Cancel-button has the wrong height. Further, it always shows "Please wait..." above the button (even if the language is changed in the config).

**To Reproduce**
Steps to reproduce the behavior:
1. Change language
2. Adjust font size
3. Make collage

**Expected behavior**

Same button height as the others and a translation of "P

[2021-09-19 20:30] mhellmeier commented on #317
I fixed the button-size problem in the main repo: https://github.com/andreknieriem/photobooth/pull/281

[2021-09-19 21:47] andi34 commented on #317
Thanks, I'll take a look at the button tomorrow. The main repo isn't worked on anymore.

There's no bug regarding the language, "Please wait..." wasn't translated into German yet.
Translation need to be done in crowdin: https://crowdin.com/project/photobooth

[2021-09-20 07:57] andi34 commented on #313
Could you please try https://github.com/andi34/photobooth/commit/052825f21d3332525549ab946e3287d4d9cd1abb and tell if it fixes the issue for you?

[2021-09-20 08:22] #313 closed, assigned to nobody

[2021-09-20 09:10] andi34 commented on #313
Found a way to let GitHub test on MacOS 11
(https://github.com/andi34/photobooth/commit/1d77dbe652a1864fd52d4921e43b33c41d12bd68)

[2021-09-20 09:43] andi34 commented on #317
Doesn't seem to fix it and really related to the resolution of your device.

![Screenshot_20210920-111942](https://user-images.githubusercontent.com/6080900/133982693-0e84cdc0-d1a8-49b8-a04c-5c68d3263a91.png)

![Screenshot_20210920-111927](https://user-images.githubusercontent.com/6080900/133982697-29189530-7c3d-4333-82af-f52a35e72b88.png)

My suggestion would be to use a different translation.
Ma

[2021-09-20 20:18] mhellmeier commented on #317
Yes, a shorter translation may work.

What do you think about changing the `height` of all buttons to a larger `min` value?

[2021-09-21 16:08] mhellmeier commented on #313
I can confirm that it now works on macOS, thanks!

[2021-09-25 10:14] mhellmeier opened #319 "Wrong "Skip welcome screen" description"
**Is your feature request related to a problem? Please describe.**

If I create a new build of the project, the _Welcome to your own Photobooth_ screen always appears at the first time. That's pretty annoying.

**Describe the solution you'd like**

Would be nice to get a possibility to disable this screen (e.g. a config option: "Always disabled welcome screen").

**Additional information**
I know

[2021-09-25 10:30] mhellmeier opened #320 "Put "Event" Option to Basic Config View"
**Is your feature request related to a problem? Please describe.**

In the "Basic View" of the admin panel, I can change the Text left/right and the symbol of the front page. But I am not able to show this text on the front page (this is done by the "Event" switch which isn't displayed).

**Describe the solution you'd like**

Currently, I have to change the admin view from "Basic View" to "Expert

[2021-09-25 10:39] mhellmeier opened #321 "Wiki Change: Remove flag from chrome kiosk mode option"
**Describe the bug**

The wiki suggests to use the following option to start chrome in fullscreen mode:
[code]

If the device preview from gphoto2 is enabled, the browser asks for camera (webcam) permission on every reboot.

**Expected behavior**

Don't show the chrome popup to give the permission every time.

**Environment (please complete the following information):**
 - OS: Pi OS
 - Browser: Ch

[2021-09-25 11:03] andi34 commented on #320
No need for PR. Going to fix it in the evening.

[2021-09-25 11:05] andi34 commented on #321
FAQ can be updated via PR, changes inside the `dev` or `wiki` branch.
No need for PR. Going to fix it in the evening.

[2021-09-25 11:06] andi34 commented on #319
Description must be renamed, thanks for the finding!
No need for PR. Going to fix it in the evening.

[2021-09-25 11:11] andi34 commented on #319
Marked as **bug** instead **enhancement** as only the description is wrong. Option to skip the welcome screen already exists.

Personal configuration will always be used on update, if you enable the skip option it won't be visible again until you delete your personal config.

[2021-09-25 19:23] #319 closed, assigned to nobody

[2021-09-25 19:23] #320 closed, assigned to nobody

[2021-09-25 19:23] #321 closed, assigned to nobody

[2021-09-26 09:18] #315 closed, assigned to nobody

[2021-09-27 10:48] #269 closed, assigned to andi34

[2021-09-27 10:52] andi34 commented on #300
From a different conversation:

[2021-10-01 08:32] wetzel-it opened #330 "Bildverschiebung der Slideshow"
In der Slideshow ist ab und zu das Bild nicht mittig, sondern unten rechts.

Nach mehrfacher Seitenaktualisierung funktioniert es und ist dann mittig, meist aber nur bis zum nächsten Automatischen Aktualisieren.

Problem wurde festgestellt unter:
iOS
-Safari
-Firefox
MacOS
-Safari
-Firefox

![grafik](https://user-images.githubusercontent.com/49483214/135589983-36da2227-2f09-40bc-bbb5-017a52633442.

[2021-10-02 16:58] lagrandeours commented on #289
hello
joschre why just adding le "4th" pict in your frame ?

[2021-10-03 06:05] andi34 commented on #284
Reopen as my changes don't work if Photobooth isn't opened in a browser.

[2021-10-04 15:37] F4bsi opened #331 "[FEATURE]: Modify Session Timeout or allow specific device to take pictures"
**Is your feature request related to a problem? Please describe.**

When using the Login function to protect the main page and only allow logged in devices to take new pictures, the session sometimes will be lost and the device is redirecting to the login page (or the one set in the settings).

If the device is inside the photobooth and lost its session, nobody will be able to take new pictures (i

[2021-10-04 21:44] andi34 commented on #331
Good idea! Currently I am busy with other things on my personal to-do list, would be great if you have time to look at it?

Maybe pickup your old idea for cookie based protection?
https://github.com/F4bsi/photobooth/commits/cookie

Maybe to think about too:
https://www.php.de/forum/webentwicklung/server-hosting-und-workstations/1441903-erledigt-php-session-timeout

[2021-10-04 21:46] andi34 commented on #331
Maybe improve https://github.com/andreknieriem/photobooth/pull/184 ?

[2021-10-09 21:59] er9xuser opened #333 "[FEATURE]: Select how many pictures would one like to print"
Hi.

Would you be so kind and implement feature how many pictures one would like print? When one click on Print button...then input box would come up and type number of pictures and push button Ok or Print.

Thanks.

[2021-10-12 08:39] andi34 opened #334 "test"
### Describe the bug

Test bug

### Steps to reproduce the behavior

- do
- do
- do

### Expected behavior

- testing

### Environment

- Xubuntu 20.04 LTS

### Which version of Photobooth are you using?

My own

### Did it work before?

Yes

### Latest working version

1

### Additional context

Hey!

[2021-10-25 20:09] #330 closed, assigned to nobody

[2021-10-26 18:42] HBTphoto commented on #83
Hi, i try the Preview "from gohoto2" from the FAQ but there no preview at countdown and just after the first picture was taking, my canon 5d mark ii doesn't repond anymore (there is signal BUSY lightning on the Canon, it seem overloaded).

On the debug panel, camera log i have :
(
 [error] => Gphoto returned with an error code
    [cmd] => gphoto2 --capture-image-and-download --filename=/var/www/h

[2021-10-26 19:44] andi34 commented on #83
If Gphoto preview is disabled the camera works fine?
If not: e.g. https://github.com/gphoto/libgphoto2/issues/304

Else maybe look at:
https://github.com/gphoto/libgphoto2/issues?q=5D+

About the Gphoto preview:
It's acting almost like the preview by device cam which means the issue could be the same you have using the Pi Cam.

If it's not an issue of your browser make sure to exactly follow all s

[2021-10-27 06:04] HBTphoto commented on #83
If Gphoto preview is disabled the camera works fine, yes

I try the default command to generate a live preview in a termianl and something happen in the Canon and the signal busy appear (mabee it is taking video), but i don't see video on screen.
And the command to kill live preview return, gphoto2: aucun processus trouvé
I have look how to work gphoto without photobooth fisrt

And for th browser

[2021-11-15 09:15] jscmidt opened #343 "[FEATURE]: Camera Offset"
### Is your feature request related to a problem?

No

### Description

Hi,
At first, many Thanks for this great Projekt.
I just have one idea to improve it (for me):
My camera, an old Nikon, always needs some time before taking a picture. That means that the Countdown "Cheese" is displayed for about three seconds before my camera makes the picture, even if I set the cheese-timer to 0. If I set it

[2021-11-15 22:01] andi34 opened #344 "[FEATURE]: support Raspberry Pi OS based on bullseye"
### Is your feature request related to a problem?

Yes

### Description

Photobooth doesn't install on latest Raspberry Pi OS

### Describe the solution you'd like

Make it work!

### Describe alternatives you've considered

There is no. R.I.P buster!

### Additional context

I've got the report Gphoto doesn't install properly, also adjustments needed for node.js v12

Update gulp-sass, add and use

[2021-11-27 17:18] #344 closed, assigned to andi34

[2021-12-05 11:19] jacques42 commented on #300
yes, I can confirm this does not work in the code. Some substantial misses, and needs some work to fix it. I am working this in branch  [bugfix/remotebuzzer-collagebutton](https://github.com/andi34/photobooth/tree/bugfix/remotebuzzer-collagebutton)

[2021-12-12 18:39] jacques42 commented on #300
Will be fixed by PR# https://github.com/andi34/photobooth/pull/351

[2021-12-12 18:59] #300 closed, assigned to jacques42

[2021-12-21 22:40] APLtres commented on #276
Hi, for me worked when I executed this command:

    sudo chmod ug+x ./setup-network.sh

before this comment:

    sudo ./setup-network.sh --install-upgrade --ap-ssid="Photobooth" --ap-password="password" --ap-password-encrypt --ap-country-code="CA" --ap-ip-address="10.10.10.10" --wifi-interface="wlan0"

[2021-12-27 20:36] andi34 commented on #331
Keep open

[2021-12-27 20:36] andi34 commented on #291
Keep open

[2021-12-27 20:37] andi34 commented on #284
Keep open

[2021-12-29 15:53] tdonhauser commented on #310
This feature would be great! Also for collage configuration.

[2021-12-29 16:32] andi34 commented on #310
Currently I am busy in real life. If someone has time to add this feature I am going to review it. A PR is welcome.

[2021-12-30 21:10] andi34 commented on #317
Ich habe die Übersetzung angepasst, bitte aktualisiere auf die aktuelle dev branch gib bescheid ob alles so passt.

[2022-01-03 19:28] andi34 opened #360 "[BUG]: socket.io on subfolder Installation not working"
### Describe the bug

Since the Webserver IP needs the subfolder added (in case) to get the QR Code working, it makes trouble on the remotebuzzer server.

### Steps to reproduce the behavior

Make a subfolder Installation of Photobooth
Setup Remotebuzzer
See it failing on the Client, can't connect.

### Expected behavior

Connected Client to the remotebuzzer server.

### Photobooth Version

Latest

[2022-01-06 14:42] andi34 opened #362 "[BUG/INFORMATION]: No preview by device cam Pi Camera / Gphoto2 preview"
### Describe the bug

Original issue here https://github.com/andreknieriem/photobooth/issues/296

The device preview (Raspberry Camera v2) does not longer work in Chromium on buster based Pi OS.

### Steps to reproduce the behavior

Try to take a picture in Chromium with exception in unsafely-treat-insecure-origin-as-secure. (preview picture not displayed, only countdown, no asking for permission

[2022-01-06 14:44] andi34 commented on #362
Looks like it's nothing we can solve on Photobooth side. Someone need to fill a bug report for Chromium and/or Raspberry Pi foundation.

Keep the issue open as information. A workaround is mentioned in first Post of the issue.

[2022-01-06 21:31] andi34 commented on #362
https://githubhelp.com/RPi-Distro/chromium-browser/issues/23?ref=https://githubhelp.com

[2022-01-08 19:35] #289 closed, assigned to nobody

[2022-01-09 01:35] #333 closed, assigned to nobody

[2022-01-09 09:35] #254 closed, assigned to jacques42

[2022-01-10 18:08] andi34 commented on #360
Once this bug is fixed I'll provide a ne stable release for users. This would also allow installing stable3 via git again on buster based Pi OS

[2022-01-10 21:24] jacques42 opened #365 "[BUG]: Remote Buzzer client does not work with HTTPS"
### Describe the bug

Remote buzzer client is not able to connect to the Photobooth server socket.io process via HTTPS.

### Steps to reproduce the behavior

Upgrade the web server connection to HTTPS and enable Hardware Buttons. The client is not able to connect

### Expected behavior

Hardware buttons also work when the web server uses HTTPS to communicate

### Photobooth Version

3.x

### Brows

[2022-01-11 20:06] #360 closed, assigned to jacques42

[2022-01-14 22:27] Raukze opened #367 "[BUG]: Can not write config/my.config.inc.php after initial install with installer script"
### Describe the bug

After the initial install with the raspbian installer script I get `Abort. Can not write config/my.config.inc.php.` when I open the webpage. This seems to be due to the owner of the file `my.config.inc.php` being `root:root`.

### Steps to reproduce the behavior

1. Run the installer script with installing latest stable build option

### Expected behavior

Show the webpage to

[2022-01-14 23:13] andi34 commented on #367
You've enabled Pi Camera via Installer?

[2022-01-14 23:23] andi34 commented on #367
https://github.com/andi34/photobooth/commit/a2817a98e5d2cc3ed421a3eae20bfe49948fb428

If yes, this should fix the issue.

[2022-01-15 00:36] Raukze commented on #367
Yes I have, but as stated [here](https://forums.raspberrypi.com/viewtopic.php?t=323462) the Pi Cam does not work on Raspberry Pi OS Version Bullseye. But that's another problem...

I just tested it again with the updated script and it now sets the ownership correctly. Thanks for the quick fix!

[2022-01-15 00:36] #367 closed, assigned to nobody

[2022-01-15 07:25] andi34 commented on #367
@Raukze you can enable the legacy camera Interface and use `raspistill` instead `libcamera-still`.

[2022-01-15 07:31] andi34 commented on #367
See https://github.com/andreknieriem/photobooth/issues/296#issuecomment-1008357806

[2022-01-19 13:06] andi34 commented on #343
Unstale

[2022-01-22 16:29] tembelten opened #370 "[FEATURE]: virtual keyboard for enter e-mail addresses"
### Is your feature request related to a problem?

No

### Description

With just a touchscreen it's not possible to enter an e-mail address.

### Describe the solution you'd like

it would be nice if a virtiual keyboard opens when you click on the text field and closes when pushing enter.

### Describe alternatives you've considered

-

### Additional context

_No response_

[2022-01-22 17:20] andi34 commented on #370
This is a limitation of Pi OS and not sure if it's really needed to be implemented.

https://github.com/hodgef/simple-keyboard
Might be something someone could implement, but should be optional via config. I'd be happy to give feedback on a Pull request adding this option.
Currently other stuff is on my personal To-do-List before I would look at it.

[2022-01-22 17:22] #317 closed, assigned to nobody

[2022-01-28 20:48] tembelten commented on #370
Hallo Andi,
ich habe mittlerweile selbst, mit Hilfe von [https://www.youtube.com/watch?v=N3cq0BHDMOY](https://www.youtube.com/watch?v=N3cq0BHDMOY), ein Virtuelles Keyboard erstellt.

Das ganze funktioniert auch soweit wenn es über meine **index.html** aufgerufen wird.:
`<input class="mail-form-input" style="position: absolute; top: 130px; right: 30px; width: 300px;">`

Jedoch kriege ich es nicht i

[2022-01-30 11:49] andi34 commented on #64
## [ℹ️ Information] remove of unmaintained languages

Hey together!
Our Photobooth project got a lot of changes in the past and a big refactoring from v2 to v3. A lot of new settings have been added and we're happy that most of the user wishes have made it's way into the project.

I've noticed, that most languages haven't received any updates for a long time now. For the upcoming release we're goi

[2022-01-31 20:00] tembelten commented on #370
Ich habe den Fehler gefunden. Das Keyboard öffnete, alledings im Hintergrund.
Musste also nur den "z-index" anpassen.
Ich lade demnächst eine genaue Anleitung hoch.

[2022-01-31 21:24] andi34 commented on #370
Das wäre super, ist bestimmt für den ein oder anderen interessant. Du kannst auch einfach die geänderten bzw neuen Dateien hier anhängen, oder committen und auf deinen GitHub fork hochladen.

Hast du es auch mit dem `simple-keyboard` versucht? Das könnte man recht einfach über yarn mit installieren.
Ich bin noch nicht dazu gekommen mir das ganze anzuschauen.

[2022-02-07 20:44] mjmdurand opened #385 "[BUG/INFORMATION]: Printing on old Selphy Printers (CP 910 in my case)"
### Describe the bug

when you try to print with CUPS, the printer don't recognize the picture format

### Steps to reproduce the behavior

- take a picture with photobooth
-  click on print button

### Expected behavior

picture was printed

### Photobooth Version

3.3.0

### Browser and browser version

Chromium

### Operating System

Raspberry Pi OS

### Did it work before?

No

### Latest work

[2022-02-07 20:53] mjmdurand commented on #370
hi, i made this improvement on mine and here's the steps :
`sudo apt install onboard`
- go to onboard parameters (main menu > preferences > onboard parameters)
-  in general tab : check "auto show when editing text" and uncheck "show floating icon"
- in windows tab, check "dock to screen edge" and set it as you prefer
- in layout tab, choose "phone"
- in theme tab, cheese a theme (backboard or nig

[2022-02-07 21:11] andi34 commented on #385
Hey and thanks for your report! Ist not a Photobooth issue, it's a driver or setting issue of your Printer/OS.
You might want to look at https://www.voss.earth/2018/08/31/kurztipp-canon-selphy-wlan-drucker-cp910-oder-cp1300-unter-linux-cups-verwenden/ , most CP1300 user in our Telegram group followed these instructions with success. It's using a modified official driver get from an iMac instead th

[2022-02-07 21:11] #385 closed, assigned to nobody

[2022-02-07 21:16] andi34 commented on #385
PPD for CP910
https://cloud.voss.earth/index.php/s/ngFoJ9kjjrLo5mc

PPD for CP1300
https://cloud.voss.earth/index.php/s/SAi2M2na5KtR3gm

[2022-02-08 08:39] andi34 commented on #385
Added a note to the installer, also added the question to install gutenprint drivers. Some user might be unaware about the setup via CUPS.

[2022-02-27 11:06] daveschafer commented on #370
Ich habe noch eine alternative gefunden, die Chrome Extension "Virtual Keyboard". Das funktioniert fast einwandfrei, nur aus der Galerie nicht (weil die Bildvorschau das Keyboard überdeckt).

https://chrome.google.com/webstore/detail/virtual-keyboard/pflmllfnnabikmfkkaddkoolinlfninn?hl=de

[2022-03-12 15:21] #331 closed, assigned to nobody

[2022-03-12 17:21] #291 closed, assigned to andi34

[2022-03-13 19:31] #310 closed, assigned to nobody

[2022-03-13 20:31] #284 closed, assigned to jacques42

[2022-03-13 23:41] mhellmeier opened #394 "[FEATURE]: Add Config Option to Disable Gallery Figure Caption"
### Is your feature request related to a problem?

Yes

### Description

My gallery shows a "Photobooth Gallery" caption under every picture.

### Describe the solution you'd like

Would be great to see a config option that allows enabling/disabling the figure caption.

### Describe alternatives you've considered

### Additional context

The config option should control the following LOC:
https://

[2022-03-13 23:53] mhellmeier opened #395 "[Q]: Very Dark Video in Livestream Background (Countdown) with gphoto2"
### Describe the bug

With the help of gphoto2 it is possible to show a live stream of the camera as a background during the countdown. This is made by the following command:
[code]

When using an external flash, the default camera settings are adjusted for it (example: 1/200, f/10, ISO 400). This leads to a dark/black background during the countdown because the camera needs more light to show an

[2022-03-14 04:41] andi34 commented on #395
You might want to use a video light which will be always on. Else there might be the possibility to adjust your Gphoto commands to set the iso and other settings via command  line (`--set-config name=value` ), see http://www.gphoto.org/doc/remote/ for more information.

[2022-03-14 04:49] andi34 commented on #365
Keep open

[2022-03-14 18:05] mhellmeier commented on #395
Thanks a lot for the tip! I tested it by adding `--set-config iso=6400` to the live view command but this doesn't work as expected. This changes the ISO value directly after (and not before) the live stream.

A possible solution to solve this problem is by adding a "config before live view" command section here:
https://github.com/andi34/photobooth/blob/dev/api/takeVideo.php#L21

With this, the fo

[2022-03-14 19:10] andi34 commented on #395
What about `gphoto2 --set-config iso=6400 && gphoto2 --stdout --capture-movie | ffmpeg -i - -vcodec rawvideo -pix_fmt yuv420p -threads 0 -f v4l2 /dev/video0 > /dev/null 2>&1 & echo $!` ?

[2022-03-14 19:29] mhellmeier commented on #395
`;` works:
`gphoto2 --set-config iso=6400; gphoto2 --stdout --capture-movie | ffmpeg -i - -vcodec rawvideo -pix_fmt yuv420p -threads 0 -f v4l2 /dev/video0 > /dev/null 2>&1 & echo $!`

[2022-03-14 19:29] #395 closed, assigned to nobody

[2022-03-14 19:30] andi34 commented on #395
Great 👍 thanks for the feedback

[2022-03-14 19:32] mhellmeier commented on #395
Maybe this information and tip can be added to the wiki?

[2022-03-14 23:20] mhellmeier opened #396 "[FEATURE]: Docker + Docker-Compose Setup"
### Is your feature request related to a problem?

Yes

### Description

It is pretty annoying to setup the hole software stack (webserver, PHP, nodejs, yarn, ...) to test and develop.

### Describe the solution you'd like

A docker setup would be great.

### Describe alternatives you've considered

One `Dockerfile` and one `docker-compose.yml` file should solve the problem.

### Additional contex

[2022-03-16 21:12] mhellmeier opened #399 "[feature]: WebCam preview stops too early"
### Describe the bug

When using the ghpoto2 preview option, the video background stops at countdown value 3.

### Steps to reproduce the behavior

1. Setup photobooth
2. Configure a gphoto2 preview
3. Set the timer to 8 seconds
4. Make a test picture: The preview will appear at countdown value 5 and will disappear at countdown value 3

### Expected behavior

The preview should be shown until coun

[2022-03-16 21:16] mhellmeier commented on #399
A quick fix is by adding `sleep(3)` right after this line which isn't a good solution:
https://github.com/andi34/photobooth/blob/dev/api/takeVideo.php#L34

I further don't understand why the timer function uses `const stop = start > 2 ? start - 2 : start;` here:
https://github.com/andi34/photobooth/blob/dev/src/js/core.js#L979

[2022-03-17 04:31] andi34 commented on #399
This is needed to free gohoto early enough to be able to take a picture. This didn't changed.
There's a solution where we can skip it, but I need to make some more adjustments when I find time for it. The general changes which allow to keep the preview running was added already: https://github.com/andi34/photobooth/blob/dev/faq/faq.md#how-to-get-better-performance-using-gphoto2-as-preview

[2022-03-17 04:44] #394 closed, assigned to nobody

[2022-03-17 17:51] mhellmeier commented on #399
Ok, thanks, I will check that.

The problem is that making a picture out of a live view doesn't work with the quick-ISO-changing-trick discussed in #395.

For me, gphoto2 doesn't need time to be free. Maybe that's related to the camera used?

[2022-03-17 19:11] andi34 commented on #399
Can be related to the camera, but also be related to the hardware you use for Photobooth. Maybe we can make this time changeable via config in future. Currently private life doesn't really allow me to spend time on a PC 🙈guess this gets better in some weeks. Sadly my laptop died which I used to adjust things on my way to work in the morning.

[2022-03-20 11:10] #396 closed, assigned to nobody

[2022-04-03 16:49] #343 closed, assigned to nobody

[2022-04-04 13:00] smoki3 opened #407 "[BUG]: Gphoto2 preview not working with power save mode"
### Describe the bug

Hi,

I tried to enable the preview mode during the countdown. But it is not working for me.

I using chromium 88 and a Nikon D610.

If I enable the power saving mode for the preview I dont get any image during the countdown. But the camera is opening the shutter as soon I press the release button.

If I disable the power saving mode then the preview is always shown and everth

[2022-04-04 16:12] andi34 commented on #407
Have you tried python gohoto?
https://github.com/andi34/photobooth/blob/dev/faq/faq.md#how-to-get-better-performance-using-gphoto2-as-preview

This doesn't sound like a general Photobooth issue.
On a mobile phone I had an issue in the past with chrome not updating the preview from device cam until I moved chrome into the background and taking it in the foreground again.

[2022-04-08 16:55] up-87 commented on #407
How long is your countdown? If you disable power saver mode it'll take several seconds until the camera preview is ready. Same would be true if you were using the python script with power saver mode active in the script. Your camera will only be able to show the preview instantly if you disable power saver mode. Without it it can take 2 to 5 seconds until the preview is ready. Maybe even more. Try

[2022-04-10 18:18] talentlos opened #410 "[BUG]: No background Images displayed with iOS devices running iOS <15.2"
### Describe the bug

Devices with iOS Version <15.1 are not able to display the background image any more.
I testet the latest dev version with RaspPi OS Bullseye (latest release) 32 and 64bit and RaspPi OS 32 bit Buster.

Still the same behaviour - testet on an iPad mini 2 and iPad Air, both running iOS 12.5.5. I testet several browsers (Safari, Chrome, Firefox and some kiosk-browsers). Then I u

[2022-04-11 08:31] crazylenni opened #411 "[FEATURE]: Photo Preview and Gallery with QR Code at the side"
### Is your feature request related to a problem?

No

### Description

Hi,

I would like to automate the photobooth as much as possible and want to minimise user input.
It would be nice if the QR code will not be showing up on demand, but as a standard on the left/right side of the gallery or photo preview (after a picture / collage was taken).

### Describe the solution you'd like

Show the QR c

[2022-04-11 08:39] crazylenni opened #412 "[BUG]: gphoto2 livepreview during collage"
### Describe the bug

Hi, I got the live preview from a gphoto2 device running as a background and as a live preview. While I take a collage during the photos no live preview is shown anymore.

### Steps to reproduce the behavior

Click on "capture collage"
Preview before picture taking is missing

### Expected behavior

live preview available before each photo (collage)

### Photobooth Version

v

[2022-04-11 09:37] andi34 commented on #412
First of all you should update to latest dev version.
You also should disable BSM or use a longer countdown. It's a hardware limitation and works smother on better hardware (Pi only has limited resources). Getting the preview visible takes up to 5 seconds but need to be stopped 2-3 seconds before the countdown ends to free gohoto to be able to take a picture.
On latest dev version you can also use

[2022-04-11 09:37] #412 closed, assigned to nobody

[2022-04-11 16:42] andi34 commented on #370
I think we can close the issue since there's different applications available and a own virtual keyboard would only make more work to maintain.

https://www.industrialshields.com/blog/raspberry-pi-for-industry-26/post/top-3-on-screen-virtual-keyboards-for-raspberry-plc-panel-pc-401

[2022-04-11 16:42] #370 closed, assigned to nobody

[2022-05-01 20:47] CWempe commented on #411
I totally agree.

It would be great if the last QR-Code (and optionally its photo) would be show in the start page for X amount of time or until the next photo has been taken.

[2022-05-01 20:52] CWempe opened #422 "[FEATURE]: hardwarebutton for QR code"
### Is your feature request related to a problem?

Yes

### Description

Without a touch screen it is not easy for users to get the QR code.

### Describe the solution you'd like

As mentioned [here](https://github.com/andi34/photobooth/issues/164#issuecomment-792310051) it would be nice to have a hardwarebutton to get the QR code.

### Describe alternatives you've considered

An alternative could

[2022-05-01 20:59] CWempe opened #423 "[BUG]: support other users in enable-usb-sync.sh"
### Describe the bug

I installed photobooth on a freshly installed pi today.
As far as I know the user `pi` is no longer the default user for [Raspberry Pi OS](https://www.raspberrypi.com/software/).
see: https://www.golem.de/news/bastelrechner-raspberry-pi-os-verwirft-den-standarduser-pi-2204-164535.html

But the script `enable-usb-sync.sh` does only work with the `pi` user.

### Steps to reprod

[2022-05-02 20:18] CWempe commented on #423
If anyone is wondering, you can use this command to replace the `pi` user with your own user.

[code]

[2022-05-02 20:35] CWempe commented on #423
btw: I just realized I had not installed this fork, yet.
I was still using v2.1.0.

But this does not change this bug, I think.

[2022-05-05 20:15] andi34 commented on #399
Fixed by https://github.com/andi34/photobooth/commit/8d40e673bdc30b85e262c4b2287b95cc2dfb493d

[2022-05-05 20:15] #399 closed, assigned to nobody

[2022-05-06 20:11] andi34 commented on #423
Same applies to the installer. I am going to look at it as soon as I find enough time. Thanks for the report!

[2022-05-08 17:30] er9xuser opened #426 "[BUG]: live preview from url not wroking anymore"
### Describe the bug

Last year when I was testing your photobooth livepreview from url was working. But now doesn't anymore.

RPi4
Canon EOS 1200D
Latest Buster installed
photobooth version: 3.0

### Steps to reproduce the behavior

Admin panel
set url(http://myipaddress:8081)
Notning

### Expected behavior

It should work like before.

### Photobooth Version

3.0

### Browser and browser version

[2022-05-08 18:23] andi34 commented on #426
Hey!
Please update to v3.3.0 or even better update to latest development version which contains some more Bugfixes and new features.
The changelog can be found here:
https://github.com/andi34/photobooth/blob/wiki/Changelog.md#upcoming-photobooth-release

To update to latest development branch, please open a terminal and run the following commands:
[code]

If you're getting an error because of the

[2022-05-08 18:23] #426 closed, assigned to nobody

[2022-05-08 18:27] andi34 commented on #426
And just to mention, from URL doesn't work with the DSLR. The FAQ contains all information on how to setup a preview from gphoto2 using the DSLR.
Preview from URL is often used in combination with motion and a Raspberry Pi Camera module. Motion is generating the stream which can be used like you mentioned.

[2022-05-09 14:21] er9xuser commented on #385
Sorry for hijacking this case. I don't want to open new. I've installed photobooth with cups and gutenprint drivers on latest buster image on Rpi4. Printer is recognized in cups and all set. But when I want to print picture from photobooth...nothing happens. No job is comming to cups. Is there anything I've missed?

[2022-05-09 14:42] er9xuser commented on #426
So can I use rpi camera for url live preview and dslr for photos?

[2022-05-09 15:29] andi34 commented on #426
Yes. Motion is needed in combination with preview from URL if you're accessing Photobooth from a different device (e.g. Tablet).

About your printer question:
You might need to call the printer in the command line
[code]

If you've further general questions please join our telegram group, its easier to help on a direct conversation.

[2022-05-11 19:52] er9xuser commented on #426
Thanks Andi. I did manage to print photos. I have Mitsubishi dwd80d and I have to use drivers for dwd70d. I will buy RPi camere v2 and use it for preview from url and Canon eos 1200d for photos.

[2022-05-27 15:32] mgineer85 opened #427 "[BUG]: Touchscreen Buttons not working"
### Describe the bug

RPI4 bullseye, latest release version and last dev version tested, 7inch touchscreen connected via HDMI+USB

The webinterface seems not to accept any touch events from my touchscreen connecte to RPI.

Can anybody confirm this issue?

### Steps to reproduce the behavior

Open chromium
Go to localhost, photobooth opens
Try to click take picture button - doesn't do anything.
Cli

[2022-05-27 16:42] andi34 commented on #427
Hey and thanks for your bug report. Touch issues aren't related to Photobooth, this must be either an OS / driver issue  or an Browser issue.

If touch is working on other parts of the OS you'll have to play around with chromium:
1. If you're starting chromium, make sure touch is enabled.
You can start chromium from terminal via command line:
`chromium-browser --touch-events=enabled`
I know that s

[2022-05-27 16:42] #427 closed, assigned to nobody

[2022-05-27 16:58] mgineer85 commented on #427
Hi @andi34 , thx for reply.
Indeed in the meantime I found it's not photobooth.
On my setup nowadays the touchscreen either is defective or wrong configured as there is a gap at exactly the positions where the action buttons are located.

Sorry for bothering you.

[2022-05-30 21:20] HBTphoto opened #428 "[HELP]: "File was not create" dslr doesn't repond anymore"
### Describe the bug

I noticed ofen bug when children use photobooth and even more when the brightness is low.
I found that was because as they are smaller, the DSLR see only the top of there head and can't make the focus, so it can't take picture and retry and retry for a while...
After that an error code appears "File was not create" but then the comunication with the DSLR is not working anymor

[2022-05-31 09:04] andi34 commented on #428
To answer here too after our conversation via PN:

This isn't an Photobooth issue, it's an issue of gphoto2 / libgphoto2 while it fails to get the focus.
Using autofocus should be avoided because of such behavior, you'd better look to get a big focus range and set the focus manually once.

Could you try adjusting the take picture command?
[code]
If this doesn't work please try:
[code]
You can also

[2022-05-31 09:23] andi34 commented on #428
Another idea might be to adjust the take picture like this:
[code]
This will emulate a ful shutterpress without half-press (focusing)

Or:
[code]

[2022-05-31 21:06] HBTphoto commented on #428
Thank a lot, i tried all this command, the only one whitch work is:
`gphoto2 --set-config eosremoterelease=Immediate --wait-event-and-download=5s --filename=%s`
But there is no focus so all picture are blurry.

If there is a command to tell:
try to take picture with focus during 5s, after that if focus is still not found, take picture immediatly
It should work

[2022-06-01 04:08] andi34 commented on #428
`gphoto2 --set-config eosremoterelease=5 --set-config eosremoterelease=4 --capture-image-and-download --capture-tethered=70  --filename=%s`

Maybe?

Or

`gphoto2 --set-config autofocusdrive=1 --wait-event-and-download=5s --filename=%s`

[2022-06-01 10:01] HBTphoto commented on #428
`gphoto2 --set-config eosremoterelease=5 --set-config eosremoterelease=4 --capture-image-and-download --capture-tethered=70 --filename=%s`
It take picture but create bug on photobooth it stay on blank screen (like if it didn't receive the picture)
`gphoto2 --set-config autofocusdrive=1 --wait-event-and-download=5s --filename=%s`
It focus but didn't take picture
I try: `gphoto2 --set-config autofoc

[2022-06-01 11:34] andi34 commented on #428
Ok, you might better open an issue on libgphoto2 repo since it's not a photobooth problem itself. The camera hangs once it fails to get the focus which is independent of Photobooth.

[2022-06-02 20:12] andi34 commented on #289
https://github.com/andi34/photobooth/pull/436

Feature was added

[2022-06-03 14:41] madanielsen opened #437 "[LOCALIZATION]: Norwegian"
### Request a language

Would be great if Norwegian could be added

### Additional context

_No response_

[2022-06-03 14:54] andi34 commented on #437
https://crowdin.com/project/photobooth/no

[2022-06-03 19:32] HBTphoto commented on #428
Issu to follow on https://github.com/gphoto
/
[libgphoto2](https://github.com/gphoto/libgphoto2):
[https://github.com/gphoto/libgphoto2/issues/801]

[2022-06-04 06:45] andi34 commented on #365
Still keep open

[2022-06-10 18:35] andi34 commented on #410
Hey and sorry for the late response!
I am unable to test on iOS myself, I don't own any Apple device. There's only an issue with the background or other functionalitys also missbehaving?
The background is set via Javascript on init, but I guess there will be a workaround for that.
I'll try to find a good way to detect the OS and try to pass the background via Stylesheet definition inside the index

[2022-06-12 16:35] DIY89 commented on #407
Maybe your fault is related to a small bug in the `core.js`
`api.startCountdown = function (start, element, cb) {`
`        let count = 0;`
`        let current = start;`
`        const stop = start > config.preview.stop_time, 10 ? start - config.preview.stop_time, 10 : start;`

add
`parseInt()` to stop time  `const stop = start > parseInt(config.preview.stop_time, 10) ? start - parseInt(config.pr

[2022-06-13 18:41] CWempe opened #443 "[FEATURE]: Add (static) GPS coordinates"
### Is your feature request related to a problem?

No

### Description

I think it would be great if the photos would get tagged with GPS coordinates (EXIF).

Users are used to have the geo location of the photos available to see all of their photos on a map (Google Photos, Apple Photos, etc.)

### Describe the solution you'd like

Of cause it would be to difficult to somehow get the correct gps c

[2022-06-13 19:47] CWempe commented on #443
EDIT: Sorry, I will try the telegram group for support, first.

I am trying to use the exiftool command, but it does not work, yet. 😞

This is my command I defined in the admin panel:

[code]

But the data is not set:

[code]

After executing the same command manually on the shell, it works.

[code]

Any idea what I am doing wrong or how to debug the exiftool command?

EDIT2: I activated "keep EXI